// About Area
.about-area.about4
    .container
        .row.g-4.g-lg-5.align-items-center
            .col-12.col-md-7.col-lg-6
                .aboutUs-content
                    .about-icon-wrapper.bg-warning.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="100ms")
                        i.bi.bi-lightning-fill
                    h2.mb-4.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="300ms") The perfect solution for your saas software.
                    p.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="500ms") It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

                    .d-flex.align-items-center.mt-5.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="700ms")
                        .text-center.me-4
                            h2.counter 1,890
                            span.fz-14.d-block Problems Fixed
                        .text-center.me-4
                            h2.counter 3,781
                                | k
                            span.fz-14.d-block Revenue Earned
                        .text-center
                            h2.counter 783
                                | +M
                            span.fz-14.d-block Lines of Code

            .col-12.col-md-5.col-lg-6
                .aboutUs-thumbnail.mt-4.mt-md-0.ms-xl-5.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="300ms")
                    img.w-100(src='img/illustrator/hero-8.png' alt="")

                    a.video-play-btn.play-button(href="https://vimeo.com/150991118")
                        i.bi.bi-play
                        span.video-sonar