// About Area 
.about-area
    .container
        .row.align-items-center.justify-content-between.g-5
            // About Content Area 
            .col-12.col-lg-7
                .about-content
                    .row.g-4.g-xl-5
                        // Single About Area 
                        .col-12.col-sm-6
                            .card.about-card
                                .card-body
                                    .icon
                                        svg.bi.bi-app-indicator(xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 16 16")
                                            path(d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z")
                                            path(d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z")
                                    h5.mb-3 App Design
                                    p.mb-0 It's crafted with the latest trend of design &amp; coded with all modern approaches.

                        // Single About Area 
                        .col-12.col-sm-6
                            .card.about-card
                                .card-body
                                    .icon.bg-success
                                        svg.bi.bi-lightbulb(xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 16 16")
                                            path(d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z")
                                    h5.mb-3 Branding
                                    p.mb-0 It's crafted with the latest trend of design &amp; coded with all modern approaches.

                        // Single About Area 
                        .col-12.col-sm-6
                            .card.about-card
                                .card-body
                                    .icon.bg-warning
                                        svg.bi.bi-bar-chart(xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 16 16")
                                            path(d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z")
                                    h5.mb-3 Marketing
                                    p.mb-0 It's crafted with the latest trend of design &amp; coded with all modern approaches.

                        // Single About Area 
                        .col-12.col-sm-6
                            .card.about-card.border-0.bg-primary
                                .card-body
                                    .icon.bg-info
                                        svg.bi.bi-basket(xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 16 16")
                                            path(d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z")
                                    h5.mb-3.text-white Ecommerce
                                    p.mb-0.text-white-50 It's crafted with the latest trend of design &amp; coded with all modern approaches.

            // About Text Area 
            .col-12.col-sm-10.col-md-9.col-lg-5
                .section-heading.mb-0.ms-xl-5
                    h6 Our key features
                    h2 We focus on growth of your business.
                    p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.
                    .about-btn-group
                        a.btn.btn-primary.mt-5(href="#") Discover More
                        a.btn.btn-link.mt-5(href="#") Talk with us