// About Area
.about-area.about3
    .container
        .row.justify-content-center.g-3.g-lg-4
            // Single Hero Card
            .col-12.col-sm-6.col-md-5.col-lg-4.col-xl-3
                .card.hero-card.h-100.border-0.wow.fadeInUp.p-3(data-wow-delay="100ms" data-wow-duration="1000ms")
                    .card-body
                        i.bi.bi-cup
                        h5 WordPress Solution
                        p.mb-0 Ultimate Solution for wp

            // Single Hero Card
            .col-12.col-sm-6.col-md-5.col-lg-4.col-xl-3
                .card.hero-card.h-100.border-0.wow.fadeInUp.p-3(data-wow-delay="300ms" data-wow-duration="1000ms")
                    .card-body
                        i.bi.bi-star-half
                        h5 Frontend Solution
                        p.mb-0 Solution for Webs

            // Single Hero Card
            .col-12.col-sm-6.col-md-5.col-lg-4.col-xl-3
                .card.hero-card.h-100.border-0.wow.fadeInUp.p-3(data-wow-delay="500ms" data-wow-duration="1000ms")
                    .card-body
                        i.bi.bi-gear
                        h5 Digital Branding
                        p.mb-0 Boot your sales

            // Single Hero Card
            .col-12.col-sm-6.col-md-5.col-lg-4.col-xl-3
                .card.hero-card.h-100.border-0.wow.fadeInUp.p-3(data-wow-delay="700ms" data-wow-duration="1000ms")
                    .card-body
                        i.bi.bi-geo-alt
                        h5 Live Chat Help
                        p.mb-0 Support 24h a day

            // Single Hero Card
            .col-12.col-sm-6.col-md-5.col-lg-4.col-xl-3
                .card.hero-card.h-100.border-0.wow.fadeInUp.p-3(data-wow-delay="100ms" data-wow-duration="1000ms")
                    .card-body
                        i.bi.bi-cursor
                        h5 WordPress Solution
                        p.mb-0 Ultimate Solution for wp

            // Single Hero Card
            .col-12.col-sm-6.col-md-5.col-lg-4.col-xl-3
                .card.hero-card.h-100.border-0.wow.fadeInUp.p-3(data-wow-delay="300ms" data-wow-duration="1000ms")
                    .card-body
                        i.bi.bi-graph-up
                        h5 Frontend Solution
                        p.mb-0 Solution for Webs

            // Single Hero Card
            .col-12.col-sm-6.col-md-5.col-lg-4.col-xl-3
                .card.hero-card.h-100.border-0.wow.fadeInUp.p-3(data-wow-delay="500ms" data-wow-duration="1000ms")
                    .card-body
                        i.bi.bi-pie-chart
                        h5 Digital Branding
                        p.mb-0 Boot your sales

            // Single Hero Card
            .col-12.col-sm-6.col-md-5.col-lg-4.col-xl-3
                .card.hero-card.h-100.border-0.wow.fadeInUp.p-3(data-wow-delay="700ms" data-wow-duration="1000ms")
                    .card-body
                        i.bi.bi-whatsapp
                        h5 Live Chat Help
                        p.mb-0 Support 24h a day