// About Area 
.about-area
    .container
        .about-content
            .row.g-5.g-lg-4
                // Single About Area
                .col-12.col-sm-6.col-lg-3                    
                    .single-about-item.text-center.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="200ms")
                        .icon.mx-auto.mb-4
                            img(src="img/svg-icon/web.svg", alt="")
                        h5.mb-3 Web Design
                        p.mb-0 It's crafted with the latest trend of design &amp; coded with all modern approaches.

                // Single About Area
                .col-12.col-sm-6.col-lg-3
                    .single-about-item.text-center.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="400ms")
                        .icon.mx-auto.mb-4
                            img(src="img/svg-icon/branding.svg", alt="")
                        h5.mb-3 Branding
                        p.mb-0 It's crafted with the latest trend of design &amp; coded with all modern approaches.

                // Single About Area
                .col-12.col-sm-6.col-lg-3
                    .single-about-item.text-center.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="600ms")
                        .icon.mx-auto.mb-4
                            img(src="img/svg-icon/play.svg", alt="")
                        h5.mb-3 Apps Design
                        p.mb-0 It's crafted with the latest trend of design &amp; coded with all modern approaches.

                // Single About Area
                .col-12.col-sm-6.col-lg-3
                    .single-about-item.text-center.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="800ms")
                        .icon.mx-auto.mb-4
                            img(src="img/svg-icon/shopping.svg", alt="")
                        h5.mb-3 Ecommerce Solution
                        p.mb-0 It's crafted with the latest trend of design &amp; coded with all modern approaches.

    .mb-120.b-block

    .container
        .row.g-5.align-items-center.justify-content-md-center.justify-content-lg-between
            // About Thumbnail Area 
            .col-12.col-md-8.col-lg-6.col-xl-5
                .aboutUs-thumbnail
                    img.w-100(src='img/bg-img/5.jpg' alt="")

            // About Us Content Area 
            .col-12.col-md-8.col-lg-6
                .aboutUs-content
                    .section-heading.mb-5
                        h6 What We Do
                        h2 Increase your business growth with Saasbox.
                        p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.
                    // Work Step Wrapper 
                    .work-step-wrapper
                        // Single Work Step 
                        .single-work-step.d-flex.mb-4
                            span 1
                            .work-step-text
                                h6 Collect your data
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, eaque? Ullam minus illum quasi reprehenderit.

                        // Single Work Step 
                        .single-work-step.d-flex.mb-4
                            span 2
                            .work-step-text
                                h6 Design prototype &amp; development
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, eaque? Ullam minus illum quasi reprehenderit.

                    a.btn.btn-info(href="#") Get Started Today