// News Area
.saasbox-news-area.news2
    .container
        .row.justify-content-center
            .col-12.col-sm-9.col-lg-7.col-xxl-6
                .section-heading.text-center
                    h6 Latest Blog's
                    h2 Our Latest News
                    p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

    .container
        .row.justify-content-center.g-4.g-md-5.g-lg-4.g-xl-5
            // Blog Card 
            .col-12.col-sm-10.col-md-6.col-lg-4
                .card.blog-card.border-0
                    a.image-wrap.d-block(href="blog-1.html")
                        img(src="img/bg-img/blog4.jpg" alt="")
                    .card-body.px-4.pb-0
                        a.badge.bg-primary.text-white.mb-1(href="blog-1.html") News
                        a.post-title.d-block.mb-3(href="blog-1.html") Seven ways agency can improve your business.
                        .post-meta
                            span.text-muted.fz-14
                                i.bi.bi-clock.me-2
                                | 2 min read
            // Blog Card 
            .col-12.col-sm-10.col-md-6.col-lg-4
                .card.blog-card.border-0
                    .image-wrap
                        img(src="img/bg-img/blog5.jpg" alt="")
                        // Video
                        .video-play-btn
                            i.bi.bi-play
                    .card-body.px-4.pb-0
                        a.badge.bg-primary.text-white.mb-1(href="blog-1.html") Agency
                        a.post-title.d-block.mb-3(href="blog-1.html") The reason why everyone love business.
                        .post-meta
                            span.text-muted.fz-14
                                i.bi.bi-clock.me-2
                                | 4 min read
            // Blog Card 
            .col-12.col-sm-10.col-md-6.col-lg-4
                .card.blog-card.border-0
                    a.image-wrap.d-block(href="blog-1.html")
                        img(src="img/bg-img/blog6.jpg" alt="")
                    .card-body.px-4.pb-0
                        a.badge.bg-primary.text-white.mb-1(href="blog-1.html") Trending
                        a.post-title.d-block.mb-3(href="blog-1.html") Seven ways agency can improve your business.
                        .post-meta
                            span.text-muted.fz-14
                                i.bi.bi-clock.me-2
                                | 3 min read