// News Area
.saasbox-news-area
    .container
        .row.align-items-end
            .col-12.col-sm-8.col-lg-6
                .section-heading
                    h6 Latest Blog's
                    h2 Our Latest News
                    p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

            .col-12.col-sm-4.col-lg-6
                .text-sm-end
                    a.btn.btn-warning.mb-80(href="#") View All News

    .container
        .row.justify-content-center.g-4.g-md-5.g-lg-4.g-xl-5
            .col-12.col-sm-9.col-md-6.col-lg-4
                .card.blog-card.border-0
                    .image-wrap
                        a.d-block(href="blog-details-1.html")
                            img(src="img/bg-img/blog1.jpg" alt="")

                    .card-body.p-4.pb-2
                        .post-meta.d-flex.align-items-center.justify-content-between.mb-3
                            span.fz-14
                                i.me-1.bi.bi-calendar
                                | 12 Sep 2022
                            span.fz-14
                                i.me-1.bi.bi-clock
                                | 2 min read

                        a.post-title.d-block.mb-3(href="blog-details-1.html") Seven ways agency can improve your business.
                        p It's crafted with the latest trend of design with all modern approaches.
                        a.btn.btn-primary.btn-minimal(href="blog-details-1.html") Continue reading...

            .col-12.col-sm-9.col-md-6.col-lg-4
                .card.blog-card.border-0
                    .image-wrap
                        a.d-block(href="blog-details-1.html")
                            img(src="img/bg-img/blog2.jpg" alt="")
                        // Video
                        .video-play-btn
                            i.bi.bi-play

                    .card-body.p-4.pb-2
                        .post-meta.d-flex.align-items-center.justify-content-between.mb-3
                            span.fz-14
                                i.me-1.bi.bi-calendar
                                | 12 Sep 2022
                            span.fz-14
                                i.me-1.bi.bi-clock
                                | 2 min read

                        a.post-title.d-block.mb-3(href="blog-details-1.html") The reason why everyone love business.
                        p It's crafted with the latest trend of design with all modern approaches.
                        a.btn.btn-primary.btn-minimal(href="blog-details-1.html") Continue reading...

            .col-12.col-sm-9.col-md-6.col-lg-4
                .card.blog-card.border-0
                    .image-wrap
                        a.d-block(href="blog-details-1.html")
                            img(src="img/bg-img/blog3.jpg" alt="")

                    .card-body.p-4.pb-2
                        .post-meta.d-flex.align-items-center.justify-content-between.mb-3
                            span.fz-14
                                i.me-1.bi.bi-calendar
                                | 12 Sep 2022
                            span.fz-14
                                i.me-1.bi.bi-clock
                                | 2 min read

                        a.post-title.d-block.mb-3(href="blog-details-1.html") Seven ways agency can improve your business.
                        p It's crafted with the latest trend of design with all modern approaches.
                        a.btn.btn-primary.btn-minimal(href="blog-details-1.html") Continue reading...