// Cookie Alert Area
.cookiealert
    p This site uses cookies. We use cookies to ensure you get the best experience on our website. For details, please check our 
        a(href="#" target="_blank")  Privacy Policy.
    button.btn.btn-primary.btn-sm.acceptcookies(type="button" aria-label="Close") I agree &amp; Close