// Cool Facts Area 
.cool-facts-wrapper
    // Background Image 
    .cta-background-image
        img(src="img/core-img/wm.png", alt="")

    // Circle Animation 
    .circle-animation
        .circle1
        .circle2
        .circle3
        .circle4

    .container
        .row.justify-content-center
            .col-12.col-sm-10.col-md-9.col-lg-8
                .section-heading.text-center
                    h6 Some Milestone
                    h2 We already completed  
                        span  470  
                        |  projects successfully and more counting.
                    
    .container
        .row.g-4.justify-content-center
            // Single Cool Facts 
            .col-6.col-sm-4
                .single-cool-fact.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="100ms")
                    h2
                        span.counter 470
                        |+
                    h6.mb-0 Total Projects
                    
            // Single Cool Facts 
            .col-6.col-sm-4
                .single-cool-fact.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="300ms")
                    h2
                        span.counter 21
                    h6.mb-0 Team Members
                    
            // Single Cool Facts 
            .col-6.col-sm-4
                .single-cool-fact.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="500ms")
                    h2
                        span.counter 3618
                    h6.mb-0 Coffee Served