// Cool Facts Area
.cta-area.pt-120.pb-120.bg-img.bg-fixed.bg-overlay(style="background-image: url('img/bg-img/1.jpg');")
    .container
        .row
            .col-12.col-sm-10.col-md-8
                .cta-text
                    h2.mb-4.mb-lg-5.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="200ms") Build a beautiful website very easily within few hours, not a day.
                    a.btn.btn-warning.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="400ms" href="#") Get started now