// Cool Facts Area 
.cta-area.cta4.bg-gray.pt-120.pb-120
    .container
        .row.g-5.align-items-center.justify-content-center
            .col-12.col-sm-9.col-md-6
                .cta-text
                    h2.text-dark Ready to start your first project with the Saasbox?
                    p.mb-4 Each purchase of Saasbox comes with six months free support — and a lifetime of free updates.
                    a.btn.btn-primary.rounded-pill(href="#") Start Now
                
            .col-12.col-sm-9.col-md-6
                .cta-thumb-group
                    .row
                        .col-4.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="100ms")
                            img(src="img/bg-img/5.jpg", alt="")
                        .col-4.wow.fadeInDown(data-wow-duration="1000ms" data-wow-delay="300ms")
                            img(src="img/bg-img/13.jpg", alt="")
                        .col-4.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="500ms")
                            img(src="img/bg-img/14.jpg", alt="")