// Cool Facts Area
.cta-area.cta3.py-5.bg-info
    .container
        .row.align-items-center.justify-content-between
            .col-12.col-sm-8
                .cta-text.mb-4.mb-sm-0.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="200ms")
                    h3.mb-0 Let's start with the simple way to create a website.
                    
            .col-12.col-sm-4.text-sm-end.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="400ms")
                a.btn.btn-warning.btn-sm(href="#") Buy Now