// FAQ Area
.faq--area
    .container
        .row.g-4.g-lg-5
            .col-12.col-lg-6
                .faq-content
                    .accordion.faq--accordian#faqaccordian
                        // Single FAQ 
                        .card.border-0
                            .card-header#headingOne
                                button.btn(type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") 1. How can I purchased Saasbox?

                            .collapse.show#collapseOne(aria-labelledby="headingOne" data-bs-parent="#faqaccordian")
                                .card-body
                                    p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt eiusmod.

                        // Single FAQ 
                        .card.border-0
                            .card-header#headingTwo
                                button.btn.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") 2. What are the minimum requirements?

                            .collapse#collapseTwo(aria-labelledby="headingTwo" data-bs-parent="#faqaccordian")
                                .card-body
                                    p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt eiusmod.

                        // Single FAQ 
                        .card.border-0
                            .card-header#headingThree
                                button.btn.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree") 3. What is the regular license?

                            .collapse#collapseThree(aria-labelledby="headingThree" data-bs-parent="#faqaccordian")
                                .card-body
                                    p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt eiusmod.

            .col-12.col-lg-6
                .faq-content
                    .accordion.faq--accordian#faqaccordian2
                        // Single FAQ 
                        .card.border-0
                            .card-header#headingFour
                                button.btn(type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour") 4. How can I purchased Saasbox?

                            .collapse.show#collapseFour(aria-labelledby="headingFour" data-bs-parent="#faqaccordian2")
                                .card-body
                                    p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt eiusmod.

                        // Single FAQ 
                        .card.border-0
                            .card-header#headingFive
                                button.btn.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive") 5. What are the minimum requirements?

                            .collapse#collapseFive(aria-labelledby="headingFive" data-bs-parent="#faqaccordian2")
                                .card-body
                                    p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt eiusmod.

                        // Single FAQ 
                        .card.border-0
                            .card-header#headingSix
                                button.btn.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix") 6. What is the regular license?

                            .collapse#collapseSix(aria-labelledby="headingSix" data-bs-parent="#faqaccordian2")
                                .card-body
                                    p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt eiusmod.