// Features Area 
.feature-area.bg-primary.pt-120.pb-120
    // Background Shape 
    .background-shape.wow.fadeInLeftBig(data-wow-duration="4000ms")

    // Curve Top Shape
    .curve-shape-top

    // Curve Bottom Shape
    .curve-shape-bottom

    .container
        .row.justify-content-center
            .col-12.col-sm-10.col-md-9.col-lg-8
                .section-heading.text-center.white
                    h6 2016 - 2022
                    h2 From 2016, we providing our services, check our best solutions.
                    p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

    .container
        .row.g-4.justify-content-center
            // Single Feature Area 
            .col-12.col-sm-10.col-md-6.col-lg-4
                .card.feature-card
                    .card-body.d-flex.align-items-center
                        i.bg-primary.bi.bi-tools
                        .fea-text
                            h6 WordPress Solution
                            span Ultimate Solution for WP

            // Single Feature Area 
            .col-12.col-sm-10.col-md-6.col-lg-4
                .card.feature-card
                    .card-body.d-flex.align-items-center
                        i.bg-success.bi.bi-brush
                        .fea-text
                            h6 Frontend Solution
                            span Solution for Webs

            // Single Feature Area 
            .col-12.col-sm-10.col-md-6.col-lg-4
                .card.feature-card
                    .card-body.d-flex.align-items-center
                        i.bg-info.bi.bi-bar-chart
                        .fea-text
                            h6 Digital Branding
                            span Boot your sales

            // Single Feature Area 
            .col-12.col-sm-10.col-md-6.col-lg-4
                .card.feature-card
                    .card-body.d-flex.align-items-center
                        i.bg-danger.bi.bi-twitter
                        .fea-text
                            h6 Live Chat Help
                            span Support 24h a day

            // Single Feature Area 
            .col-12.col-sm-10.col-md-6.col-lg-4
                .card.feature-card
                    .card-body.d-flex.align-items-center
                        i.bg-warning.bi.bi-gear
                        .fea-text
                            h6 Easy Setup
                            span Solution for setup

            // Single Feature Area 
            .col-12.col-sm-10.col-md-6.col-lg-4
                .card.feature-card
                    .card-body.d-flex.align-items-center
                        i.bg-success.bi.bi-bug
                        .fea-text
                            h6 Fixed Bugs
                            span Unlimited bug fix

            // Single Feature Area 
            .col-12.col-sm-10.col-md-6.col-lg-4
                .card.feature-card
                    .card-body.d-flex.align-items-center
                        i.bg-info.bi.bi-bar-chart
                        .fea-text
                            h6 Digital Branding
                            span Boot your sales

            // Single Feature Area 
            .col-12.col-sm-10.col-md-6.col-lg-4
                .card.feature-card
                    .card-body.d-flex.align-items-center
                        i.bg-primary.bi.bi-twitter
                        .fea-text
                            h6 Live Chat Help
                            span Support 24h a day

            // Single Feature Area 
            .col-12.col-sm-10.col-md-6.col-lg-4
                .card.feature-card
                    .card-body.d-flex.align-items-center
                        i.bg-danger.bi.bi-gear
                        .fea-text
                            h6 Easy Setup
                            span Solution for setup