.feature-area.feature4
    .container
        .row.g-5
            // Feature Card 
            .col-12.col-md-4
                .card.feature3-card.text-center.border.shadow-sm.wow.fadeInUp(data-wow-duration="1000ms")
                    .card-body.p-5
                        .icons-wrap
                            .first-icon
                                i.bi.bi-graph-up
                            .second-icon
                                i.bi.bi-gear-wide-connected
                        h5 Visitor Tracking
                        p It's a robust &amp; multi-dimensional usable template.
                        a.btn.btn-danger.btn-minimal(href="#") Learn More

            // Feature Card 
            .col-12.col-md-4
                .card.feature3-card.text-center.border.shadow-sm.wow.fadeInUp(data-wow-duration="1000ms")
                    .card-body.p-5
                        .icons-wrap
                            .first-icon
                                i.bi.bi-bootstrap
                            .second-icon
                                i.bi.bi-braces
                        h5 Bootstrap 5.1.1
                        p It's a robust &amp; multi-dimensional usable template.
                        a.btn.btn-info.btn-minimal(href="#") Learn More

            // Feature Card 
            .col-12.col-md-4
                .card.feature3-card.text-center.border.shadow-sm.wow.fadeInUp(data-wow-duration="1000ms")
                    .card-body.p-5
                        .icons-wrap
                            .first-icon
                                i.bi.bi-megaphone
                            .second-icon
                                i.bi.bi-bullseye
                        h5 Faster Report
                        p It's a robust &amp; multi-dimensional usable template.
                        a.btn.btn-success.btn-minimal(href="#") Learn More

            // Feature Card 
            .col-12.col-md-4
                .card.feature3-card.text-center.border.shadow-sm.wow.fadeInUp(data-wow-duration="1000ms")
                    .card-body.p-5
                        .icons-wrap
                            .first-icon
                                i.bi.bi-joystick
                            .second-icon
                                i.bi.bi-circle-square
                        h5 Easy to use
                        p It's a robust &amp; multi-dimensional usable template.
                        a.btn.btn-dark.btn-minimal(href="#") Learn More

            // Feature Card 
            .col-12.col-md-4
                .card.feature3-card.text-center.border.shadow-sm.wow.fadeInUp(data-wow-duration="1000ms")
                    .card-body.p-5
                        .icons-wrap
                            .first-icon
                                i.bi.bi-whatsapp
                            .second-icon
                                i.bi.bi-chat-right-dots
                        h5 Full Support
                        p It's a robust &amp; multi-dimensional usable template.
                        a.btn.btn-primary.btn-minimal(href="#") Learn More

            // Feature Card 
            .col-12.col-md-4
                .card.feature3-card.text-center.border.shadow-sm.wow.fadeInUp(data-wow-duration="1000ms")
                    .card-body.p-5
                        .icons-wrap
                            .first-icon
                                i.bi.bi-heart
                            .second-icon
                                i.bi.bi-circle-fill
                        h5 Lovely Design
                        p It's a robust &amp; multi-dimensional usable template.
                        a.btn.btn-warning.btn-minimal(href="#") Learn More

    .mb-120.d-block

    .container
        .row.g-5.align-items-center
            .col-12.col-lg-6
                .feature--thumb
                    img(src="img/illustrator/hero-3.png" alt="")
            .col-12.col-lg-6
                .feature--text.ms-5
                    span.badge.bg-info Saas software
                    h1.mb-3 Completely creative, clean &amp; 100% free.
                    p.mb-4 It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

                    ul.ps-0.list-unstyled.fw-bold.mb-0
                        li
                            i.me-2.bi.bi-check
                            | Vanilla JavaScript
                        li
                            i.me-2.bi.bi-check
                            | Bootstrap 5.1.0
                        li
                            i.me-2.bi.bi-check
                            | Fully Responsive
                        li
                            i.me-2.bi.bi-check
                            | Sass Support
                        li
                            i.me-2.bi.bi-check
                            | Valid HTML5 &amp; CSS3

                    a.btn.btn-success.rounded-pill.mt-5(href="#") Let's Start Now