// Features Area
.feature-area.feature2.pt-120.pb-120
    .container
        .row.justify-content-center
            .col-12.col-sm-9.col-lg-8
                .section-heading.text-center
                    h6.text-dark Why choose us
                    h2 We have been running many successful business studios.
                    p.text-dark It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.
    
    .container
        .row.g-4.g-xxl-5
            .col-12.col-sm-6.col-lg-3
                .card.feature2-card.shadow-lg.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="200ms")
                    .card-body
                        .feature-icon.mb-4.text-primary
                            i.bi.bi-bootstrap-fill
                        h5 Bootstrap 5.1
                        p Build fast, responsive sites with Bootstrap.
                        a.btn.btn-primary.btn-minimal(href="#") Learn more...
            
            .col-12.col-sm-6.col-lg-3
                .card.feature2-card.shadow-lg.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="400ms")
                    .card-body
                        .feature-icon.mb-4.text-warning
                            i.bi.bi-code-slash
                        h5 Vanilla JS
                        p The write less, do more with JavaScript Library.
                        a.btn.btn-info.btn-minimal(href="#") Learn more...
            
            .col-12.col-sm-6.col-lg-3
                .card.feature2-card.shadow-lg.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="600ms")
                    .card-body
                        .feature-icon.mb-4.text-danger
                            i.bi.bi-bullseye
                        h5 Pug Supported
                        p It compiles to HTML and has a simplified syntax.
                        a.btn.btn-danger.btn-minimal(href="#") Learn more...
            
            .col-12.col-sm-6.col-lg-3
                .card.feature2-card.shadow-lg.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="800ms")
                    .card-body
                        .feature-icon.mb-4.text-info
                            i.bi.bi-braces
                        h5 SCSS Featured
                        p Sass is the stable &amp; powerful grade CSS.
                        a.btn.btn-dark.btn-minimal(href="#") Learn more...
