// Footer Area
footer.footer-area
    .container
        .row.g-4.g-lg-5
            // Footer Widget Area 
            .col-12.col-sm-6.col-lg-3
                .footer-widget-area
                    a.d-block.mb-4(href="index.html")
                        img(src="img/core-img/logo.png" alt="")
                    p It's crafted with the latest trend of design &amp; coded with all modern approaches.

                    // Newsletter Form 
                    .newsletter-form.mb-4
                        form.d-flex.align-items-stretch(action="#")
                            input.form-control.rounded-0.rounded-start(type="email" placeholder="Enter email")
                            button.btn.btn-warning.rounded-0.rounded-end.px-3(type="submit")
                                i.bi.bi-arrow-right

            // Footer Widget Area
            .col-12.col-sm-6.col-lg-3
                .footer-widget-area
                    h5.mb-4 Our Products

                    ul.list-unstyled
                        li
                            a(href="#" target="_blank")
                                i.bi.bi-caret-right
                                | Suha Mobile
                        li
                            a(href="#" target="_blank")
                                i.bi.bi-caret-right
                                | Affan Mobile
                        li
                            a(href="#" target="_blank")
                                i.bi.bi-caret-right
                                | Newsten Blog
                        li
                            a(href="#" target="_blank")
                                i.bi.bi-caret-right
                                | Classy Multipurpose
                        li
                            a(href="#" target="_blank")
                                i.bi.bi-caret-right
                                | Educamp Education

            // Footer Widget Area
            .col-12.col-sm-6.col-lg-3
                .footer-widget-area
                    h5.mb-4 Important Links

                    ul.list-unstyled
                        li
                            a(href="#" target="_blank")
                                i.bi.bi-caret-right
                                | Community &amp; Forum
                        li
                            a(href="#" target="_blank")
                                i.bi.bi-caret-right
                                | About Licences
                        li
                            a(href="#" target="_blank")
                                i.bi.bi-caret-right
                                | Careers
                        li
                            a(href="#" target="_blank")
                                i.bi.bi-caret-right
                                | Terms &amp; Conditions
                        li
                            a(href="#" target="_blank")
                                i.bi.bi-caret-right
                                | Privacy Policy

            // Footer Widget Area 
            .col-12.col-sm-6.col-lg-3
                .footer-widget-area
                    h5.mb-4 Our Location

                    p.lh-base.mb-3 Designing World Inc. <br> 1604 NSD, Dhaka, BD
                    p.mb-0 Call: +123 456 789 <br> Email: help@example.com

                    // Footer Social Icon 
                    .footer-social-icon.d-flex.align-items-center.mt-3
                        a(href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facbook")
                            i.bi.bi-facebook
                        a(href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter")
                            i.bi.bi-twitter
                        a(href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram")
                            i.bi.bi-instagram
                        a(href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Linkedin")
                            i.bi.bi-linkedin
                        a(href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Youtube")
                            i.bi.bi-youtube

    .container
        .copywrite-wrapper.mt-5.rounded.d-lg-flex.align-items-lg-center.justify-content-lg-between
            // Copywrite Text 
            .copywrite-text.text-center.text-lg-start.mb-3.mb-lg-0.me-lg-4
                p.mb-0
                    | 2021 &copy; All rights reserved by 
                    a(href="#", target="_blank") Designing World

            // Footer Nav 
            .footer-nav.mb-3.mb-lg-0.me-lg-4
                ul.mb-0.d-flex.flex-wrap.justify-content-center.list-unstyled
                    li
                        a(href="#" target="_blank") Privacy Policy
                    li
                        a(href="#" target="_blank") Terms &amp; Conditions
                    li
                        a(href="#" target="_blank") Get Support

            // Dropup 
            .language-dropdown.text-center.text-lg-end
                button.btn.dropdown-toggle(type="button", data-bs-toggle="dropdown", aria-expanded="false") Language

                .dropdown-menu.dropdown-menu-end
                    a.dropdown-item(href="#")
                        span.me-2.flag-icon.flag-icon-sa
                        | Arabic
                    a.dropdown-item(href="#")
                        span.me-2.flag-icon.flag-icon-bd
                        | Bengali
                    a.dropdown-item(href="#")
                        span.me-2.flag-icon.flag-icon-us
                        | English
                    a.dropdown-item(href="#")
                        span.me-2.flag-icon.flag-icon-my
                        | Malay
                    a.dropdown-item(href="#")
                        span.me-2.flag-icon.flag-icon-es
                        | Spanish

// Scroll To Top  
#scrollTopButton
    i.bi.bi-arrow-up-short