// Header Area
header.header-area.header-2
    nav.navbar.navbar-expand-lg
        .container
            // Navbar Brand 
            a.navbar-brand(href="index.html")
                img(src="img/core-img/logo.png", alt="")

            // Navbar Toggler 
            button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#saasboxNav", aria-controls="saasboxNav", aria-expanded="false", aria-label="Toggle navigation")
                i.bi.bi-grid

            // Navbar Nav 
            .collapse.navbar-collapse#saasboxNav
                ul.navbar-nav.navbar-nav-scroll
                    li.sb-dropdown
                        a(href="#") Home

                        ul.sb-dropdown-menu
                            li
                                a(href="creative-agency.html") Creative Agency
                            li
                                a(href="business-studio.html") Business Studio
                            li
                                a(href="saas-landing.html") Saas Landing
                            li
                                a(href="seo-business.html") SEO &amp; Business

                    li.sb-dropdown
                        a(href="#") Portfolio

                        ul.sb-dropdown-menu
                            li
                                a(href="portfolio-standard.html") Portfolio 1
                            li
                                a(href="portfolio-creative.html") Portfolio 2
                            li
                                a(href="portfolio-full-width.html") Portfolio 3
                            li
                                a(href="portfolio-details-one.html") Portfolio Details 1
                            li
                                a(href="portfolio-details-two.html") Portfolio Details 2
                            li
                                a(href="portfolio-details-three.html") Portfolio Details 3

                    li.sb-dropdown
                        a(href="#") Shop

                        ul.sb-dropdown-menu
                            li
                                a(href="shop-fullwidth.html") Shop Fullwidth
                            li
                                a(href="shop-sidebar.html") Shop Sidebar
                            li
                                a(href="single-product.html") Product Details
                            li
                                a(href="cart.html") Cart
                            li
                                a(href="checkout.html") Checkout

                    li.sb-dropdown
                        a(href="#") Blog

                        ul.sb-dropdown-menu
                            li
                                a(href="blog-1.html") Blog 1
                            li
                                a(href="blog-2.html") Blog 2
                            li
                                a(href="blog-3.html") Blog 3
                            li
                                a(href="blog-details-1.html") Blog Details 1
                            li
                                a(href="blog-details-2.html") Blog Details 2
                            li
                                a(href="blog-details-3.html") Blog Details 3

                    li.sb-dropdown
                        a(href="#") Pages

                        ul.sb-dropdown-menu
                            li.sb-dropdown
                                a(href="#") About Us

                                ul.sb-dropdown-menu
                                    li
                                        a(href="about-standard.html") About Standard
                                    li
                                        a(href="about-creative.html") About Creative

                            li.sb-dropdown
                                a(href="#") Service

                                ul.sb-dropdown-menu
                                    li
                                        a(href="service-standard.html") Service Standard
                                    li
                                        a(href="service-creative.html") Service Creative

                            li.sb-dropdown
                                a(href="#") Authentification

                                ul.sb-dropdown-menu
                                    li
                                        a(href="register.html") Register
                                    li
                                        a(href="login.html") Login
                                    li
                                        a(href="forget-password.html") Forget Password

                            li
                                a(href="pricing-plan.html") Pricing Plan
                            li
                                a(href="faq.html") FAQ
                            li
                                a(href="team.html") Team
                            li
                                a(href="contact.html") Contact
                            li
                                a(href="reviews.html") Reviews
                            li
                                a(href="coming-soon.html") Coming Soon
                            li
                                a(href="newsletter.html") Newsletter
                            li
                                a(href="404.html") 404 - Error

                // Login Button 
                a.btn.btn-warning.btn-sm.ms-auto.mb-3.mb-lg-0(href="#") Log In