meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="Saasbox - Multipurpose HTML Template for Saas & Agency")

// Title
title Saasbox - Multipurpose HTML Template for Saas &amp; Agency

// Favicon
link(rel="shortcut icon", href="img/core-img/favicon.ico", type="image/x-icon")

// All CSS Stylesheet
link(rel="stylesheet" href="css/all-css-libraries.css")

// Core Stylesheet
link(rel="stylesheet" href="style.css")