// Welcome Area 
.welcome-area.hero3
    .welcome3-slide-wrap
        // Slide Item 
        .welcome3-slide-item.bg-primary.bg-gradient
            .container.h-100
                .row.g-lg-5.h-100.align-items-center
                    .col-12.col-sm-10.col-md-6
                        // Content 
                        .welcome-content
                            ul.ps-0.mb-2.mb-lg-3.d-flex.align-items-center.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="100ms")
                                li Powerful
                                li Easy to use
                                li Free
                            h2.text-white.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="300ms") Grow up faster with the Saasbox software.
                            p.mb-5.text-white-50.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="500ms") It's crafted with the latest trend of design &amp; coded with all modern approaches.
                            .btn-group-two.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="700ms")
                                a.btn.btn-warning.rounded-pill.me-3(href="#") Start Now
                                a.btn.btn-warning.rounded-pill(href="#") See Features

                    .col-12.col-sm-8.col-md-6
                        // Welcome Thumb 
                        .welcome-thumb.ms-xl-5.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="300ms")
                            img(src="img/illustrator/2.png" alt="")

        // Slide Item 
        .welcome3-slide-item.bg-primary.bg-gradient
            .container.h-100
                .row.g-lg-5.h-100.align-items-center
                    .col-12.col-sm-10.col-md-6
                        // Content 
                        .welcome-content
                            ul.ps-0.mb-2.mb-lg-3.d-flex.align-items-center.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="100ms")
                                li Powerful
                                li Easy to use
                                li Free
                            h2.text-white.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="300ms") Get more revenue with the Saasbox software.
                            p.mb-5.text-white-50.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="500ms") It's crafted with the latest trend of design &amp; coded with all modern approaches.      
                            .btn-group-two.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="700ms")
                                a.btn.btn-warning.rounded-pill.me-3(href="#") Discover Now
                                a.btn.btn-warning.rounded-pill(href="#") See Features

                    .col-12.col-sm-8.col-md-6
                        // Welcome Thumb 
                        .welcome-thumb.ms-xl-5.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="300ms")
                            img(src="img/illustrator/3.png" alt="")