// Welcome Area 
.welcome-area.bg-gradient
    // Background Shape 
    .background-shape
        .circle1.wow.fadeInRightBig(data-wow-duration="4000ms")
        .circle2.wow.fadeInRightBig(data-wow-duration="4000ms")
        .circle3.wow.fadeInRightBig(data-wow-duration="4000ms")
        .circle4.wow.fadeInRightBig(data-wow-duration="4000ms")

    // Background Animation 
    .background-animation
        .item1
        .item2
        .item3
        .item4
        .item5

    .container.h-100
        .row.h-100.align-items-center.justify-content-between
            // Welcome Content 
            .col-12.col-sm-10.col-md-6
                .welcome-content
                    ul.mb-0.ps-1.d-flex.align-items-center.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="200ms")
                        li Idea
                        li Development
                        li Branding
                    h2.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="300ms") Awesome <br> Creative Agency.
                    p.mb-4.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="400ms") It's crafted with the latest trend of design &amp; coded with all modern approaches.
                    .hero-btn-group.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="500ms")
                        a.btn.btn-warning.mt-3.me-3(href="#") Buy Now
                        a.btn.btn-light.mt-3(href="#") See More

            // Welcome Thumb 
            .col-12.col-sm-9.col-md-6
                .welcome-thumb.ms-xl-5.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="1s")
                    img(src="img/illustrator/hero-3.png" alt="")