// Welcome Area 
.welcome-area.hero2.bg-white
    // Background Shape 
    .hero-background-shape
        img(src="img/core-img/hero-2.png" alt="")

    // Background Animation 
    .background-animation
        .item1
        .item4
        .item5

    // Hero Circle 
    .hero2-big-circle

    .container.h-100
        .row.h-100.align-items-center.justify-content-between
            .col-12.col-sm-10.col-md-6
                // Welcome Content 
                .welcome-content
                    h2.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="200ms") We focus on the growth of your business.
                    p.mb-4.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="400ms") It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.
                    .d-flex.align-items-center.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="600ms")
                        a.btn.btn-warning.mt-3(href="#") Get Started
                        a.btn.btn-danger.btn-minimal.mt-3.ms-3.play-button(href="https://www.youtube.com/watch?v=lFGvqvPh5jI") Play Video
                
            .col-12.col-sm-10.col-md-6
                // Welcome Thumb 
                .welcome-thumb.ms-xl-5.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="400ms")
                    img(src="img/illustrator/hero-6.png" alt="")