// Welcome Area 
.welcome-area.hero4
    // Hero Background Shape 
    .hero4-bg-shape
        img(src="img/core-img/hero-4.png", alt="")

    // Hero Background Shape 
    .hero4-bg-shape2
        img(src="img/core-img/hero-4-2.png", alt="")

    .container.h-100
        .row.h-100.align-items-center
            .col-12.col-md-6
                // Welcome Content 
                .welcome-content
                    .hero4-slide-controls
                        .hero4-1-slide-wrap
                            // Single Hero Slide 
                            .single-hero-slide
                                span.key-quote.fw-bold Try 15 days free trial
                                h2 Powerful SEO &amp; business service.
                                p.mb-4 It's crafted with the latest trend of design &amp; coded with all modern approaches.
                                a.btn.btn-info(href="#") All Features

                            // Single Hero Slide 
                            .single-hero-slide
                                span.key-quote.fw-bold Free to use
                                h2 Easy solutions <br> to make life easier.
                                p.mb-4 It's crafted with the latest trend of design &amp; coded with all modern approaches.
                                a.btn.btn-warning(href="#") Get Quote

                            // Single Hero Slide 
                            .single-hero-slide
                                span.key-quote.fw-bold Secure &amp; Stable
                                h2 Awesome, Smart &amp; Creative
                                p.mb-4 It's crafted with the latest trend of design &amp; coded with all modern approaches.
                                a.btn.btn-primary(href="#") Contact Us

            .col-12.col-sm-8.col-md-6
                .welcome-thumb.ms-5
                    .hero-video-card
                        a.video-play-btn.play-button(href="https://www.youtube.com/watch?v=3qyhgV0Zew0")
                            i.bi.bi-play
                            span.video-sonar
                        
                        // Shape 
                        .video-shape
                            img(src="img/core-img/hero-3-2.png", alt="")

                        .video-card-slides.hero4-2-slide-wrap
                            div.rounded
                                img.rounded(src="img/bg-img/9.jpg", alt="")
                            div.rounded
                                img.rounded(src="img/bg-img/10.jpg", alt="")
                            div.rounded
                                img.rounded(src="img/bg-img/11.jpg", alt="")

