// Partner Area
.partner-area
    .container
        .row
            .col-12
                .section-heading.text-center
                    h2.mb-0 Trusted and used by 2k+ creative company.
    .container
        .partner-wrapper
            // Logo 
            .partner-logo.px-sm-3
                img(src="img/partner-img/1.png" alt="")
            // Logo 
            .partner-logo.px-sm-3
                img(src="img/partner-img/2.png" alt="")
            // Logo 
            .partner-logo.px-sm-3
                img(src="img/partner-img/3.png" alt="")
            // Logo 
            .partner-logo.px-sm-3
                img(src="img/partner-img/4.png" alt="")
            // Logo 
            .partner-logo.px-sm-3
                img(src="img/partner-img/5.png" alt="")
            // Logo 
            .partner-logo.px-sm-3
                img(src="img/partner-img/6.png" alt="")
            // Logo 
            .partner-logo.px-sm-3
                img(src="img/partner-img/1.png" alt="")
            // Logo 
            .partner-logo.px-sm-3
                img(src="img/partner-img/2.png" alt="")
            // Logo 
            .partner-logo.px-sm-3
                img(src="img/partner-img/3.png" alt="")
            // Logo 
            .partner-logo.px-sm-3
                img(src="img/partner-img/4.png" alt="")