// Partner Area
.partner-area.py-5.bg-gray
    .container
        .row
            .col-12
                .partner-slides
                    div
                        .partner-logo
                            img(src="img/partner-img/1.png" alt="")
                    
                    div
                        .partner-logo
                            img(src="img/partner-img/2.png" alt="")
                    
                    div
                        .partner-logo
                            img(src="img/partner-img/3.png" alt="")
                    
                    div
                        .partner-logo
                            img(src="img/partner-img/4.png" alt="")
                    
                    div
                        .partner-logo
                            img(src="img/partner-img/5.png" alt="")
                    
                    div
                        .partner-logo
                            img(src="img/partner-img/6.png" alt="")
                    
                    div
                        .partner-logo
                            img(src="img/partner-img/1.png" alt="")
                    
                    div
                        .partner-logo
                            img(src="img/partner-img/2.png" alt="")