// Portfolio Area
.saasbox-portfolio-area.pt-120.pb-120.bg-gray
    .container
        .row.align-items-end.justify-content-between
            .col-12.col-sm-8.col-lg-7.col-xxl-6
                .section-heading.mb-0
                    h6 Portfolio
                    h2 Check our latest awesome creative works
                    p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

            .col-12.col-sm-4.col-lg-5
                .text-sm-end.mt-5.mt-sm-0
                    a.btn.btn-primary(href="portfolio-creative.html") View All Works
    
    .d-block.mb-80

    .container-fluid
        .portfolio2-wrapper.px-3
            .portfolio2-slides
                div
                    // Single Portfolio Area 
                    .single-portfolio-area
                        img(src="img/bg-img/p22.jpg" alt="")

                        // Ovarlay Content 
                        .overlay-content
                            .portfolio-title
                                h6.mb-0 Portfolio Title
                            .portfolio-links
                                a.portfolio-img-zoom(href="img/bg-img/p22.jpg")
                                    i.bi.bi-arrows-fullscreen
                                a(href="portfolio-details-one.html")
                                    i.bi.bi-link-45deg

                div
                    // Single Portfolio Area 
                    .single-portfolio-area
                        img(src="img/bg-img/p23.jpg" alt="")

                        // Ovarlay Content 
                        .overlay-content
                            .portfolio-title
                                h6.mb-0 Apps Redesign
                            .portfolio-links
                                a.portfolio-img-zoom(href="img/bg-img/p23.jpg")
                                    i.bi.bi-arrows-fullscreen
                                a(href="portfolio-details-one.html")
                                    i.bi.bi-link-45deg

                div
                    // Single Portfolio Area 
                    .single-portfolio-area
                        img(src="img/bg-img/p24.jpg" alt="")

                        // Ovarlay Content 
                        .overlay-content
                            .portfolio-title
                                h6.mb-0 Marketing
                            .portfolio-links
                                a.portfolio-img-zoom(href="img/bg-img/p24.jpg")
                                    i.bi.bi-arrows-fullscreen
                                a(href="portfolio-details-one.html")
                                    i.bi.bi-link-45deg

                div
                    // Single Portfolio Area
                    .single-portfolio-area
                        img(src="img/bg-img/p25.jpg" alt="")

                        // Ovarlay Content 
                        .overlay-content
                            .portfolio-title
                                h6.mb-0 eCommerce Solution
                            .portfolio-links
                                a.portfolio-img-zoom(href="img/bg-img/p25.jpg")
                                    i.bi.bi-arrows-fullscreen
                                a(href="portfolio-details-one.html")
                                    i.bi.bi-link-45deg

                div
                    // Single Portfolio Area 
                    .single-portfolio-area
                        img(src="img/bg-img/p26.jpg" alt="")

                        // Ovarlay Content 
                        .overlay-content
                            .portfolio-title
                                h6.mb-0 Bugs Fix Works
                            .portfolio-links
                                a.portfolio-img-zoom(href="img/bg-img/p26.jpg")
                                    i.bi.bi-arrows-fullscreen
                                a(href="portfolio-details-one.html")
                                    i.bi.bi-link-45deg