// Pricing Plan Area
.saasbox-pricing-plan-area.bg-gray.pt-120.pb-120
  .container
    .row.justify-content-center
      .col-12.col-sm-9.col-lg-7.col-xxl-6
        .section-heading.text-center
          h6 Pricing Table
          h2 Easy &amp; Simple Plan
          p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.
          
    .row.justify-content-center.g-4.g-lg-5
        // Single Pricing Plan
        .col-12.col-sm-9.col-md-6.col-lg-5.col-xl-4
          .card.pricing-card
            .pricing-heading
              .price
                h6 Basic
                h1.mb-0.display-3.fw-bold.text-info $23
                span.fz-12.d-block per month

            .pricing-desc.my-5
              ul.ps-0.mb-0.list-unstyled
                li 1 Month Usage
                li Lifetime Updates
                li.times 1 Website License
                li.times Free Support
                li.times Download New Release

            .pricing-btn
              a.btn.btn-info.btn-sm.rounded-pill(href="#")
                | Choose Plan
                svg.bi.bi-arrow-right.ms-1(xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16")
                  path(fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z")

        // Single Pricing Plan
        .col-12.col-sm-9.col-md-6.col-lg-5.col-xl-4
          .card.pricing-card.active.bg-img(style="background-image: url('img/core-img/3.png')")
            .pricing-heading
              .price
                h6 Standard
                h1.mb-0.display-3.fw-bold.text-warning $99
                span.fz-12.d-block per month

            .pricing-desc.my-5
              ul.ps-0.mb-0.list-unstyled
                li 1 Month Usage
                li Lifetime Updates
                li 1 Website License
                li.times Free Support
                li.times Download New Release
                
            .pricing-btn
              a.btn.btn-warning.btn-sm.rounded-pill(href="#")
                | Choose Plan
                svg.bi.bi-arrow-right.ms-1(xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16")
                  path(fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z")