// Pricing Plan Area
.saasbox-pricing-plan-area.price2
  .container
    .row.justify-content-center
      .col-12.col-sm-9.col-md-8.col-lg-7
        .section-heading.text-center
          h6 Pricing Plan
          h2 Simple &amp; transparent pricing plan for your team.
          p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

    .row
      .col-12
        .pricing-table-switch.mb-5.text-center.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="200ms")
          .form-check.form-switch.d-flex.align-items-center.justify-content-center.ps-0.mb-0
            label.form-check-label.fz-16.fw-bold.me-3(for="priceSwitching") Monthly
            input.form-check-input.ms-0.mt-0#priceSwitching(type="checkbox")
            label.form-check-label.fz-16.fw-bold.ms-3.position-relative(for="priceSwitching") Yearly
              span.badge.bg-danger.rounded.position-absolute -20%

      .col-12
        .row.g-4.justify-content-center

          // Single Pricing Plan
          .col-12.col-sm-9.col-md-7.col-lg-4
            .card.pricing-card.monthly-plan.shadow-lg.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="300ms")
              .pricing-heading.mb-5
                .price
                  span.bg-primary.rounded-circle
                    i.bi.bi-lock
                  .price-quantity
                    h2.mb-0.monthly-price $3
                      span.fz-12 per month
                    h2.mb-0.yearly-price $28
                      span.fz-12 per year (save 20%)

              .pricing-desc.mb-5
                ul.list-unstyled.mb-0
                  li
                    i.text-info.me-2.bi.bi-check-circle-fill
                    | 1 Month Usage
                  li
                    i.text-info.me-2.bi.bi-check-circle-fill
                    | Lifetime Updates
                  li
                    i.text-info.me-2.bi.bi-check-circle-fill
                    | 1 Website License
                  li
                    i.text-info.me-2.bi.bi-check-circle-fill
                    | Free Support
                  li
                    i.text-info.me-2.bi.bi-check-circle-fill
                    | Download New Release

              .pricing-btn
                a.btn.btn-primary.btn-minimal(href="cart.html")
                  | Start Now Today
                  i.bi.bi-caret-right-fill

          // Single Pricing Plan
          .col-12.col-sm-9.col-md-7.col-lg-4
            .card.pricing-card.monthly-plan.active.bg-img.shadow-lg.wow.fadeInUp(style="background-image: url('img/core-img/3.png')", data-wow-duration="1000ms", data-wow-delay="500ms")
              .pricing-heading.mb-5
                .price
                  span.bg-warning.rounded-circle
                    i.bi.bi-lock
                  .price-quantity
                    h2.mb-0.monthly-price $9
                      span.fz-12 per month
                    h2.mb-0.yearly-price $86
                      span.fz-12 per year (save 20%)

              .pricing-desc.mb-5
                ul.list-unstyled.mb-0
                  li
                    i.text-info.me-2.bi.bi-check-circle-fill
                    | 1 Month Usage
                  li
                    i.text-info.me-2.bi.bi-check-circle-fill
                    | Lifetime Updates
                  li
                    i.text-info.me-2.bi.bi-check-circle-fill
                    | 1 Website License
                  li
                    i.text-info.me-2.bi.bi-check-circle-fill
                    | Free Support
                  li
                    i.text-info.me-2.bi.bi-check-circle-fill
                    | Download New Release

              .pricing-btn
                a.btn.btn-warning.btn-minimal(href="cart.html")
                  | Start Now Today
                  i.bi.bi-caret-right-fill

          // Single Pricing Plan
          .col-12.col-sm-9.col-md-7.col-lg-4
            .card.pricing-card.monthly-plan.shadow-lg.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="700ms")
              .pricing-heading.mb-5
                .price
                  span.bg-info.rounded-circle
                    i.bi.bi-lock
                  .price-quantity
                    h2.mb-0.monthly-price $21
                      span.fz-12 per month
                    h2.mb-0.yearly-price $199
                      span.fz-12 per year (save 20%)

              .pricing-desc.mb-5
                ul.list-unstyled.mb-0
                  li
                    i.text-info.me-2.bi.bi-check-circle-fill
                    | 1 Month Usage
                  li
                    i.text-info.me-2.bi.bi-check-circle-fill
                    | Lifetime Updates
                  li
                    i.text-info.me-2.bi.bi-check-circle-fill
                    | 1 Website License
                  li
                    i.text-info.me-2.bi.bi-check-circle-fill
                    | Free Support
                  li
                    i.text-info.me-2.bi.bi-check-circle-fill
                    | Download New Release

              .pricing-btn
                a.btn.btn-info.btn-minimal(href="cart.html")
                  | Start Now Today
                  i.bi.bi-caret-right-fill