// Related Project Area 
.related-project-area
    .container
        h2.mb-4.mb-lg-5 Related Projects

        // Related Project Slide
        .related-project-slide

            // Single Slide 
            div
                .single-portfolio-area.border
                    img(src="img/bg-img/p18.jpg" alt="")

                    // Ovarlay Content 
                    .overlay-content
                        .portfolio-title
                            h6.mb-0 Portfolio Title
                        .portfolio-links
                            a.portfolio-img-zoom(href="img/bg-img/p18.jpg")
                                i.bi.bi-arrows-fullscreen
                            a(href="portfolio-details-one.html")
                                i.bi.bi-link-45deg
                            
            // Single Slide 
            div
                .single-portfolio-area.border
                    img(src="img/bg-img/p17.jpg" alt="")

                    // Ovarlay Content 
                    .overlay-content
                        .portfolio-title
                            h6.mb-0 Portfolio Title
                        .portfolio-links
                            a.portfolio-img-zoom(href="img/bg-img/p17.jpg")
                                i.bi.bi-arrows-fullscreen
                            a(href="portfolio-details-one.html")
                                i.bi.bi-link-45deg
                            
            // Single Slide 
            div
                .single-portfolio-area.border
                    img(src="img/bg-img/p16.jpg" alt="")

                    // Ovarlay Content 
                    .overlay-content
                        .portfolio-title
                            h6.mb-0 Portfolio Title
                        .portfolio-links
                            a.portfolio-img-zoom(href="img/bg-img/p16.jpg")
                                i.bi.bi-arrows-fullscreen
                            a(href="portfolio-details-one.html")
                                i.bi.bi-link-45deg
                            
            // Single Slide 
            div
                .single-portfolio-area.border
                    img(src="img/bg-img/p15.jpg" alt="")

                    // Ovarlay Content 
                    .overlay-content
                        .portfolio-title
                            h6.mb-0 Portfolio Title
                        .portfolio-links
                            a.portfolio-img-zoom(href="img/bg-img/p15.jpg")
                                i.bi.bi-arrows-fullscreen
                            a(href="portfolio-details-one.html")
                                i.bi.bi-link-45deg