// Service Area
.service-area
  .container
    .row.justify-content-center
      .col-12.col-sm-10.col-md-9.col-lg-8
        .section-heading.text-center
          h6 5 years experienced
          h2 We are an award-winning company &amp; provide the best services.
          p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

    .row.justify-content-center.g-4.g-xl-5
      // Single Service 
      .col-12.col-sm-6.col-lg-4
        .card.service-card.wow.fadeInUp(data-wow-delay="100ms" data-wow-duration="1000ms")
          .card-body.p-0.px-lg-0
            .icon
              i.bi.bi-app-indicator
            h5 Apps Developement
            p It's crafted with the latest trend of design.
            a.btn.btn-dark.btn-minimal.mt-4(href="#")
              | Learn more
              i.bi.bi-arrow-right.fz-16.ms-1

      // Single Service 
      .col-12.col-sm-6.col-lg-4
        .card.service-card.wow.fadeInUp(data-wow-delay="200ms" data-wow-duration="1000ms")
          .card-body.p-0.px-lg-0
            .icon
              i.bi.bi-columns
            h5 Website Developement
            p It's crafted with the latest trend of design.
            a.btn.btn-dark.btn-minimal.mt-4(href="#")
              | Learn more
              i.bi.bi-arrow-right.fz-16.ms-1

      // Single Service 
      .col-12.col-sm-6.col-lg-4
        .card.service-card.wow.fadeInUp(data-wow-delay="300ms" data-wow-duration="1000ms")
          .card-body.p-0.px-lg-0
            .icon
              i.bi.bi-pie-chart
            h5 Content &amp; SEO Marketing
            p It's crafted with the latest trend of design.
            a.btn.btn-dark.btn-minimal.mt-4(href="#")
              | Learn more
              i.bi.bi-arrow-right.fz-16.ms-1

      // Single Service 
      .col-12.col-sm-6.col-lg-4
        .card.service-card.wow.fadeInUp(data-wow-delay="500ms" data-wow-duration="1000ms")
          .card-body.p-0.px-lg-0
            .icon
              i.bi.bi-sun
            h5 Business Creative Leads
            p It's crafted with the latest trend of design.
            a.btn.btn-dark.btn-minimal.mt-4(href="#")
              | Learn more
              i.bi.bi-arrow-right.fz-16.ms-1

      // Single Service 
      .col-12.col-sm-6.col-lg-4
        .card.service-card.wow.fadeInUp(data-wow-delay="400ms" data-wow-duration="1000ms")
          .card-body.p-0.px-lg-0
            .icon
              i.bi.bi-tools
            h5 Ultimate Solution
            p It's crafted with the latest trend of design.
            a.btn.btn-dark.btn-minimal.mt-4(href="#")
              | Learn more
              i.bi.bi-arrow-right.fz-16.ms-1

      // Single Service 
      .col-12.col-sm-6.col-lg-4
        .card.service-card.wow.fadeInUp(data-wow-delay="600ms" data-wow-duration="1000ms")
          .card-body.p-0.px-lg-0
            .icon
              i.bi.bi-play
            h5 Learning for future
            p It's crafted with the latest trend of design.
            a.btn.btn-dark.btn-minimal.mt-4(href="#")
              | Learn more
              i.bi.bi-arrow-right.fz-16.ms-1