// Service Area 
.service-area.service3.bg-gray.pt-120.pb-120
  .container
    .row
      .col-12.col-sm-9.col-lg-8
        .section-heading
          h6 5 years experienced
          h2 We are an award-winning company &amp; provide the best services.
          p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

  .container
    .row.g-5.g-lg-4
      // Single Service Area 
      .col-12.col-sm-6.col-lg-3
        .card.service2-card.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="100ms")
          .card-body
            .icon
                i.bi.bi-app-indicator
            h5 Mobile Apps
            p.mb-4 It's crafted with the latest trend of design.
            a.btn.btn-dark.btn-minimal(href="#") Read more
          
      // Single Service Area 
      .col-12.col-sm-6.col-lg-3
        .card.service2-card.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="300ms")
          .card-body
            .icon
                i.bi.bi-pie-chart
            h5 Digital Content
            p It's crafted with the latest trend of design.
            a.btn.btn-dark.btn-minimal(href="#") Read more
          
      // Single Service Area 
      .col-12.col-sm-6.col-lg-3
        .card.service2-card.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="500ms")
          .card-body
            .icon
                i.bi.bi-tools
            h5 WordPress 5.0
            p It's crafted with the latest trend of design.
            a.btn.btn-dark.btn-minimal(href="#") Read more
    
      // Single Service Area 
      .col-12.col-sm-6.col-lg-3
        .card.service2-card.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="700ms")
          .card-body
            .icon
                i.bi.bi-sun
            h5 Business Idea
            p It's crafted with the latest trend of design.
            a.btn.btn-dark.btn-minimal(href="#") Read more