.blog-sidebar-area
    // Widget 
    .single-widget-area.mb-4.mb-lg-5
        // Search Form
        form.widget-form(action="#" method="post")
            input.form-control(type="search" placeholder="Type your keyword")
            button(type="submit")
                i.bi.bi-search

    // Widget 
    .single-widget-area.mb-4.mb-lg-5
        h5.widget-title.mb-30 Categories

        ul.catagories-list.ps-0.list-unstyled
            li
                a(href="#")
                    i.bi.bi-caret-right
                    | Corporate
                    span.text-muted.ms-2 (9)
            li
                a(href="#")
                    i.bi.bi-caret-right
                    | Agency
                    span.text-muted.ms-2 (16)
            li
                a(href="#")
                    i.bi.bi-caret-right
                    | Business
                    span.text-muted.ms-2 (21)
            li
                a(href="#")
                    i.bi.bi-caret-right
                    | E-commerce
                    span.text-muted.ms-2 (8)
            li
                a(href="#")
                    i.bi.bi-caret-right
                    | Blog
                    span.text-muted.ms-2 (13)
            li
                a(href="#")
                    i.bi.bi-caret-right
                    | Creative Ideas
                    span.text-muted.ms-2 (6)

    // Widget 
    .single-widget-area.mb-4.mb-lg-5
        h4.widget-title.mb-30 Recent Posts

        // Recent Post 
        .single-recent-post.d-flex.align-items-center
            .post-thumb
                a.rounded(href="#")
                    img.rounded(src="img/bg-img/sb1.jpg" alt="")
            .post-content
                a.post-title(href="#") Seven ways agency can improve your business.
                p.post-date Sep 30, 2022

        // Recent Post 
        .single-recent-post.d-flex.align-items-center
            .post-thumb
                a.rounded(href="#")
                    img.rounded(src="img/bg-img/sb2.jpg" alt="")
            .post-content
                a.post-title(href="#") The reason why everyone love business.
                p.post-date Sep 30, 2022

        // Recent Post 
        .single-recent-post.d-flex.align-items-center
            .post-thumb
                a.rounded(href="#")
                    img.rounded(src="img/bg-img/sb3.jpg" alt="")
            .post-content
                a.post-title(href="#") How to get people to like trend.
                p.post-date Sep 30, 2022

        // Recent Post 
        .single-recent-post.d-flex.align-items-center
            .post-thumb
                a.rounded(href="#")
                    img.rounded(src="img/bg-img/sb4.jpg" alt="")
            .post-content
                a.post-title(href="#") Seven ways agency can improve your business.
                p.post-date Sep 30, 2022

        // Recent Post 
        .single-recent-post.d-flex.align-items-center
            .post-thumb
                a.rounded(href="#")
                    img.rounded(src="img/bg-img/sb5.jpg" alt="")
            .post-content
                a.post-title(href="#") The reason why everyone love business.
                p.post-date Sep 30, 2022

        // Recent Post 
        .single-recent-post.d-flex.align-items-center
            .post-thumb
                a.rounded(href="#")
                    img.rounded(src="img/bg-img/sb6.jpg" alt="")
            .post-content
                a.post-title(href="#") How to get people to like trend.
                p.post-date Sep 30, 2022

    // Widget 
    .single-widget-area
        h4.widget-title.mb-30 Popular Tags        
        ul.popular-tags.clearfix.ps-0.mb-0
            li
                a(href="#") saasbox
            li
                a(href="#") npm
            li
                a(href="#") sass
            li
                a(href="#") pug
            li
                a(href="#") gulp
            li
                a(href="#") css
            li
                a(href="#") bootstrap
            li
                a(href="#") html5
            li
                a(href="#") jquery
            li
                a(href="#") design