// Features Area
.saasbox-tab-area
  .container
    .row.justify-content-center
      .col-12.col-sm-10.col-md-9.col-lg-8
        .section-heading.text-center
          h6 Awarded Company
          h2 Awesome stunning smart &amp; dynamic feature for your website.
    .row
      .col-12
        .tab--area
          ul#saasboxTab.nav.nav-tabs(role="tablist")
            li.nav-item
              a#tab--1.nav-link.active(data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true") Design &amp; Development
            li.nav-item
              a#tab--2.nav-link(data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false") Digital Marketing
            li.nav-item
              a#tab--3.nav-link(data-bs-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false") Business Solution

          #saasboxTabContent.tab-content

            // Tab Pane
            #tab1.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="tab--1")
              .row.align-items-center.justify-content-center
                .col-12.col-sm-9.col-md-6
                  .tab--text.mt-3.mt-lg-5
                    h6 Design &amp; Development
                    h2.mb-3 We provide best design &amp; dev solution.
                    p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

                    ul.list-unstyled
                      li
                        i.alert-info.bi.bi-check
                        | Vanilla JavaScript
                      li
                        i.alert-info.bi.bi-check
                        | Bootstrap 5
                      li
                        i.alert-info.bi.bi-check
                        | Creative Design

                    .progress.mt-4
                      .progress-bar(role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100")
                    span.d-block.fz-12 Clients Satisfaction Rate: 90%

                .col-12.col-sm-9.col-md-6
                  .tab-thumb.mt-5.ms-lg-5
                    img(src="img/illustrator/4.png" alt="")

            // Tab Pane
            #tab2.tab-pane.fade(role="tabpanel" aria-labelledby="tab--2")
              .row.align-items-center.justify-content-center
                .col-12.col-sm-9.col-md-6
                  .tab--text.mt-3.mt-lg-5
                    h6 Digital Marketing
                    h2.mb-3 We provide digital marketing solution.
                    p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

                    ul.list-unstyled
                      li
                        i.alert-info.bi.bi-check
                        | Vanilla JavaScript
                      li
                        i.alert-info.bi.bi-check
                        | Bootstrap 5
                      li
                        i.alert-info.bi.bi-check
                        | Creative Design

                    .progress.mt-4
                      .progress-bar(role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100")
                    span.d-block.fz-12 Clients Return Rate: 70%

                .col-12.col-sm-9.col-md-6
                  .tab-thumb.mt-5.ms-lg-5
                    img(src="img/illustrator/bg-1.png" alt="")

            // Tab Pane
            #tab3.tab-pane.fade(role="tabpanel" aria-labelledby="tab--3")
              .row.align-items-center.justify-content-center
                .col-12.col-sm-9.col-md-6
                  .tab--text.mt-3.mt-lg-5
                    h6 Business Solution
                    h2.mb-3 We provide creative business solution.
                    p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

                    ul.list-unstyled
                      li
                        i.alert-info.bi.bi-check
                        | Vanilla JavaScript
                      li
                        i.alert-info.bi.bi-check
                        | Bootstrap 5
                      li
                        i.alert-info.bi.bi-check
                        | Creative Design

                    .progress.mt-4
                      .progress-bar(role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100")
                    span.d-block.fz-12 Business Solution Rate: 85%

                .col-12.col-sm-9.col-md-6
                  .tab-thumb.mt-5.ms-lg-5
                    img(src="img/illustrator/bg-2.png" alt="")