// Team Area
.saasbox-team-area.pt-120.pb-120.bg-gradient
    .container
        .row.align-items-center.justify-content-between
            .col-12.col-sm-9.col-md-7.col-lg-5
                .section-heading.mb-lg-0
                    h6.text-dark Creative Sailors
                    h2 Our world class experienced team members.
                    p.text-dark It's crafted with the latest trend of design &amp; coded with all modern approaches.

                    a.btn.btn-light.mt-5(href="team.html")
                        | View All Members
                        i.ms-3.bi.bi-arrow-right

            .col-12.col-lg-7
                .team-members-area
                    .row.justify-content-center.g-4.g-xl-5
                        .col-12.col-sm-6
                            .card.team-card.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="200ms")
                                .card-body.px-4.py-5.py-sm-4.py-md-5.text-center
                                    .member-img.mb-4.rounded-circle
                                        img(src="img/bg-img/9.jpg" alt="")
                                    h6 L. Sarah
                                    p.fz-14 Creative Designer
                                    .border
                                    a.mt-3.btn.btn-info.btn-minimal.fz-14(href="#")
                                        | Contact with Sarah
                                        i.bi.bi-caret-right-fill

                        .col-12.col-sm-6
                            .card.team-card.wow.fadeInDown(data-wow-duration="1000ms" data-wow-delay="400ms")
                                .card-body.px-4.py-5.py-sm-4.py-md-5.text-center
                                    .member-img.mb-4.rounded-circle
                                        img(src="img/bg-img/16.jpg" alt="")
                                    h6 H. Riyadh
                                    p.fz-14 Full Stack Developer
                                    .border
                                    a.mt-3.btn.btn-success.btn-minimal.fz-14(href="#")
                                        | Contact with Riyadh
                                        i.bi.bi-caret-right-fill