// Client Feedback Area
.client-feedback-area.bg-gray.pt-120.pb-120
    .container
        .row.justify-content-center
            .col-12.col-sm-9.col-md-8.col-lg-7
                .section-heading.text-center
                    h6 Testimonials
                    h2 Read some reviews from our beloved clients about our work.
                    p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.
    
    .container
        .client-feedback-content
            .client-feedback-slides
                // Single Feedback Slide 
                div
                    .card.feedback-card.border-0.p-2.shadow-sm
                        .card-body.p-5.p-sm-4.p-md-5
                            .client-info.d-flex.align-items-center
                                .client-thumb.rounded-circle.me-2.position-relative
                                    img.rounded-circle(src="img/bg-img/t1.png" alt="")
                                    span.rounded-circle
                                        i.bi.bi-check
                                .client-name
                                    h6.fz-14.mb-0 Lim Jannat
                                    p.mb-0.fz-12 @lim_jannat
                            .ratings.text-warning.mt-4.mb-3.fz-14
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p.text-dark.mb-0.fw-bold You've saved our business! Thanks guys, keep up the good work!
                
                // Single Feedback Slide 
                div
                    .card.feedback-card.border-0.p-2.shadow-sm
                        .card-body.p-5.p-sm-4.p-md-5
                            .client-info.d-flex.align-items-center
                                .client-thumb.rounded-circle.me-2.position-relative
                                    img.rounded-circle(src="img/bg-img/t2.png" alt="")
                                    span.rounded-circle
                                        i.bi.bi-check
                                .client-name
                                    h6.fz-14.mb-0 Lim Jannat
                                    p.mb-0.fz-12 @lim_jannat
                            .ratings.text-warning.mt-4.mb-3.fz-14
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p.text-dark.mb-0.fw-bold I strongly recommend to everyone interested in running a business!

                // Single Feedback Slide 
                div
                    .card.feedback-card.border-0.p-2.shadow-sm
                        .card-body.p-5.p-sm-4.p-md-5
                            .client-info.d-flex.align-items-center
                                .client-thumb.rounded-circle.me-2.position-relative
                                    img.rounded-circle(src="img/bg-img/t3.png" alt="")
                                    span.rounded-circle
                                        i.bi.bi-check
                                .client-name
                                    h6.fz-14.mb-0 Lim Jannat
                                    p.mb-0.fz-12 @lim_jannat
                            .ratings.text-warning.mt-4.mb-3.fz-14
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p.text-dark.mb-0.fw-bold Absolutely wonderful! I wish I would have thought of it first. Excellent product!

                // Single Feedback Slide 
                div
                    .card.feedback-card.border-0.p-2.shadow-sm
                        .card-body.p-5.p-sm-4.p-md-5
                            .client-info.d-flex.align-items-center
                                .client-thumb.rounded-circle.me-2.position-relative
                                    img.rounded-circle(src="img/bg-img/t1.png" alt="")
                                    span.rounded-circle
                                        i.bi.bi-check
                                .client-name
                                    h6.fz-14.mb-0 Lim Jannat
                                    p.mb-0.fz-12 @lim_jannat
                            .ratings.text-warning.mt-4.mb-3.fz-14
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p.text-dark.mb-0.fw-bold You've saved our business! Thanks guys, keep up the good work!
                
                // Single Feedback Slide 
                div
                    .card.feedback-card.border-0.p-2.shadow-sm
                        .card-body.p-5.p-sm-4.p-md-5
                            .client-info.d-flex.align-items-center
                                .client-thumb.rounded-circle.me-2.position-relative
                                    img.rounded-circle(src="img/bg-img/t2.png" alt="")
                                    span.rounded-circle
                                        i.bi.bi-check
                                .client-name
                                    h6.fz-14.mb-0 Lim Jannat
                                    p.mb-0.fz-12 @lim_jannat
                            .ratings.text-warning.mt-4.mb-3.fz-14
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p.text-dark.mb-0.fw-bold I strongly recommend to everyone interested in running a business!

                // Single Feedback Slide 
                div
                    .card.feedback-card.border-0.p-2.shadow-sm
                        .card-body.p-5.p-sm-4.p-md-5
                            .client-info.d-flex.align-items-center
                                .client-thumb.rounded-circle.me-2.position-relative
                                    img.rounded-circle(src="img/bg-img/t3.png" alt="")
                                    span.rounded-circle
                                        i.bi.bi-check
                                .client-name
                                    h6.fz-14.mb-0 Lim Jannat
                                    p.mb-0.fz-12 @lim_jannat
                            .ratings.text-warning.mt-4.mb-3.fz-14
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p.text-dark.mb-0.fw-bold Absolutely wonderful! I wish I would have thought of it first. Excellent product!

                // Single Feedback Slide 
                div
                    .card.feedback-card.border-0.p-2.shadow-sm
                        .card-body.p-5.p-sm-4.p-md-5
                            .client-info.d-flex.align-items-center
                                .client-thumb.rounded-circle.me-2.position-relative
                                    img.rounded-circle(src="img/bg-img/t1.png" alt="")
                                    span.rounded-circle
                                        i.bi.bi-check
                                .client-name
                                    h6.fz-14.mb-0 Lim Jannat
                                    p.mb-0.fz-12 @lim_jannat
                            .ratings.text-warning.mt-4.mb-3.fz-14
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p.text-dark.mb-0.fw-bold You've saved our business! Thanks guys, keep up the good work!
                
                // Single Feedback Slide 
                div
                    .card.feedback-card.border-0.p-2.shadow-sm
                        .card-body.p-5.p-sm-4.p-md-5
                            .client-info.d-flex.align-items-center
                                .client-thumb.rounded-circle.me-2.position-relative
                                    img.rounded-circle(src="img/bg-img/t2.png" alt="")
                                    span.rounded-circle
                                        i.bi.bi-check
                                .client-name
                                    h6.fz-14.mb-0 Lim Jannat
                                    p.mb-0.fz-12 @lim_jannat
                            .ratings.text-warning.mt-4.mb-3.fz-14
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p.text-dark.mb-0.fw-bold I strongly recommend to everyone interested in running a business!

                // Single Feedback Slide 
                div
                    .card.feedback-card.border-0.p-2.shadow-sm
                        .card-body.p-5.p-sm-4.p-md-5
                            .client-info.d-flex.align-items-center
                                .client-thumb.rounded-circle.me-2.position-relative
                                    img.rounded-circle(src="img/bg-img/t3.png" alt="")
                                    span.rounded-circle
                                        i.bi.bi-check
                                .client-name
                                    h6.fz-14.mb-0 Lim Jannat
                                    p.mb-0.fz-12 @lim_jannat
                            .ratings.text-warning.mt-4.mb-3.fz-14
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p.text-dark.mb-0.fw-bold Absolutely wonderful! I wish I would have thought of it first. Excellent product!