.video-area.bg-img.bg-overlay.bg-fixed(style="background-image: url('img/bg-img/15.jpg');")
    .container
        a.video-play-btn.play-button(href="https://www.youtube.com/watch?v=3qyhgV0Zew0")
            i.bi.bi-play
            span.video-sonar