doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header-1.pug

        // Breadcrumb Area
        .breadcrumb-wrapper.bg-img.bg-overlay(style="background-image: url('img/bg-img/7.jpg');")
            .container.h-100
                .row.h-100.align-items-center
                    .col-12
                        .breadcrumb-content
                            h2.breadcrumb-title Blog One
                            nav(aria-label="breadcrumb")
                                ol.breadcrumb.justify-content-center
                                    li.breadcrumb-item
                                        a(href="index.html") Home
                                    li.breadcrumb-item.active(aria-current="page") Blog

        .mb-120.d-block

        // saasbox Blog Area
        .saasbox-blog-area.blog-card-page
            .container
                .row.g-4.g-md-5.justify-content-center
                    // Blog Item 
                    .col-12.col-sm-10.col-md-6.col-lg-4
                        .card.blog-card.border-0
                            .image-wrap
                                a.d-block(href="blog-details-1.html")
                                    img(src="img/bg-img/blog1.jpg" alt="")

                            .card-body.p-4.pb-2
                                .post-meta.d-flex.align-items-center.justify-content-between.mb-3
                                    span.fz-14
                                        i.me-1.bi.bi-calendar
                                        | 12 Sep 2022
                                    span.fz-14
                                        i.me-1.bi.bi-clock
                                        | 2 min read

                                a.post-title.d-block.mb-3(href="blog-details-1.html") Seven ways agency can improve your business.
                                p It's crafted with the latest trend of design with all modern approaches.
                                a.btn.btn-primary.btn-minimal(href="blog-details-1.html") Continue reading...

                    // Blog Item 
                    .col-12.col-sm-10.col-md-6.col-lg-4
                        .card.blog-card.border-0
                            .image-wrap
                                a.d-block(href="blog-details-1.html")
                                    img(src="img/bg-img/blog2.jpg" alt="")

                            .card-body.p-4.pb-2
                                .post-meta.d-flex.align-items-center.justify-content-between.mb-3
                                    span.fz-14
                                        i.me-1.bi.bi-calendar
                                        | 12 Sep 2022
                                    span.fz-14
                                        i.me-1.bi.bi-clock
                                        | 2 min read

                                a.post-title.d-block.mb-3(href="blog-details-1.html") The reason why everyone love business.
                                p It's crafted with the latest trend of design with all modern approaches.
                                a.btn.btn-primary.btn-minimal(href="blog-details-1.html") Continue reading...

                    // Blog Item 
                    .col-12.col-sm-10.col-md-6.col-lg-4
                        .card.blog-card.border-0
                            .image-wrap
                                a.d-block(href="blog-details-1.html")
                                    img(src="img/bg-img/blog3.jpg" alt="")
                                // Video
                                .video-play-btn
                                    i.bi.bi-play

                            .card-body.p-4.pb-2
                                .post-meta.d-flex.align-items-center.justify-content-between.mb-3
                                    span.fz-14
                                        i.me-1.bi.bi-calendar
                                        | 12 Sep 2022
                                    span.fz-14
                                        i.me-1.bi.bi-clock
                                        | 2 min read

                                a.post-title.d-block.mb-3(href="blog-details-1.html") Seven ways agency can improve your business.
                                p It's crafted with the latest trend of design with all modern approaches.
                                a.btn.btn-primary.btn-minimal(href="blog-details-1.html") Continue reading...

                    // Blog Item 
                    .col-12.col-sm-10.col-md-6.col-lg-4
                        .card.blog-card.border-0
                            .image-wrap
                                a.d-block(href="blog-details-1.html")
                                    img(src="img/bg-img/blog4.jpg" alt="")

                            .card-body.p-4.pb-2
                                .post-meta.d-flex.align-items-center.justify-content-between.mb-3
                                    span.fz-14
                                        i.me-1.bi.bi-calendar
                                        | 12 Sep 2022
                                    span.fz-14
                                        i.me-1.bi.bi-clock
                                        | 2 min read

                                a.post-title.d-block.mb-3(href="blog-details-1.html") The reason why everyone love business.
                                p It's crafted with the latest trend of design with all modern approaches.
                                a.btn.btn-primary.btn-minimal(href="blog-details-1.html") Continue reading...

                    // Blog Item 
                    .col-12.col-sm-10.col-md-6.col-lg-4
                        .card.blog-card.border-0
                            .image-wrap
                                a.d-block(href="blog-details-1.html")
                                    img(src="img/bg-img/blog5.jpg" alt="")
                                // Video
                                .video-play-btn
                                    i.bi.bi-play

                            .card-body.p-4.pb-2
                                .post-meta.d-flex.align-items-center.justify-content-between.mb-3
                                    span.fz-14
                                        i.me-1.bi.bi-calendar
                                        | 12 Sep 2022
                                    span.fz-14
                                        i.me-1.bi.bi-clock
                                        | 2 min read

                                a.post-title.d-block.mb-3(href="blog-details-1.html") Seven ways agency can improve your business.
                                p It's crafted with the latest trend of design with all modern approaches.
                                a.btn.btn-primary.btn-minimal(href="blog-details-1.html") Continue reading...

                    // Blog Item 
                    .col-12.col-sm-10.col-md-6.col-lg-4
                        .card.blog-card.border-0
                            .image-wrap
                                a.d-block(href="blog-details-1.html")
                                    img(src="img/bg-img/blog6.jpg" alt="")

                            .card-body.p-4.pb-2
                                .post-meta.d-flex.align-items-center.justify-content-between.mb-3
                                    span.fz-14
                                        i.me-1.bi.bi-calendar
                                        | 12 Sep 2022
                                    span.fz-14
                                        i.me-1.bi.bi-clock
                                        | 2 min read

                                a.post-title.d-block.mb-3(href="blog-details-1.html") The reason why everyone love business.
                                p It's crafted with the latest trend of design with all modern approaches.
                                a.btn.btn-primary.btn-minimal(href="blog-details-1.html") Continue reading...

                    // Blog Item 
                    .col-12.col-sm-10.col-md-6.col-lg-4
                        .card.blog-card.border-0
                            .image-wrap
                                a.d-block(href="blog-details-1.html")
                                    img(src="img/bg-img/blog7.jpg" alt="")

                            .card-body.p-4.pb-2
                                .post-meta.d-flex.align-items-center.justify-content-between.mb-3
                                    span.fz-14
                                        i.me-1.bi.bi-calendar
                                        | 12 Sep 2022
                                    span.fz-14
                                        i.me-1.bi.bi-clock
                                        | 2 min read

                                a.post-title.d-block.mb-3(href="blog-details-1.html") Seven ways agency can improve your business.
                                p It's crafted with the latest trend of design with all modern approaches.
                                a.btn.btn-primary.btn-minimal(href="blog-details-1.html") Continue reading...

                    // Blog Item 
                    .col-12.col-sm-10.col-md-6.col-lg-4
                        .card.blog-card.border-0
                            .image-wrap
                                a.d-block(href="blog-details-1.html")
                                    img(src="img/bg-img/blog8.jpg" alt="")
                                // Video 
                                .video-play-btn
                                    i.bi.bi-play


                            .card-body.p-4.pb-2
                                .post-meta.d-flex.align-items-center.justify-content-between.mb-3
                                    span.fz-14
                                        i.me-1.bi.bi-calendar
                                        | 12 Sep 2022
                                    span.fz-14
                                        i.me-1.bi.bi-clock
                                        | 2 min read

                                a.post-title.d-block.mb-3(href="blog-details-1.html") The reason why everyone love business.
                                p It's crafted with the latest trend of design with all modern approaches.
                                a.btn.btn-primary.btn-minimal(href="blog-details-1.html") Continue reading...

                    // Blog Item 
                    .col-12.col-sm-10.col-md-6.col-lg-4
                        .card.blog-card.border-0
                            .image-wrap
                                a.d-block(href="blog-details-1.html")
                                    img(src="img/bg-img/blog9.jpg" alt="")

                            .card-body.p-4.pb-2
                                .post-meta.d-flex.align-items-center.justify-content-between.mb-3
                                    span.fz-14
                                        i.me-1.bi.bi-calendar
                                        | 12 Sep 2022
                                    span.fz-14
                                        i.me-1.bi.bi-clock
                                        | 2 min read

                                a.post-title.d-block.mb-3(href="blog-details-1.html") Seven ways agency can improve your business.
                                p It's crafted with the latest trend of design with all modern approaches.
                                a.btn.btn-primary.btn-minimal(href="blog-details-1.html") Continue reading...

                    // Blog Item 
                    .col-12.col-sm-10.col-md-6.col-lg-4
                        .card.blog-card.border-0
                            .image-wrap
                                a.d-block(href="blog-details-1.html")
                                    img(src="img/bg-img/blog10.jpg" alt="")

                            .card-body.p-4.pb-2
                                .post-meta.d-flex.align-items-center.justify-content-between.mb-3
                                    span.fz-14
                                        i.me-1.bi.bi-calendar
                                        | 12 Sep 2022
                                    span.fz-14
                                        i.me-1.bi.bi-clock
                                        | 2 min read

                                a.post-title.d-block.mb-3(href="blog-details-1.html") The reason why everyone love business.
                                p It's crafted with the latest trend of design with all modern approaches.
                                a.btn.btn-primary.btn-minimal(href="blog-details-1.html") Continue reading...

                    // Blog Item 
                    .col-12.col-sm-10.col-md-6.col-lg-4
                        .card.blog-card.border-0
                            .image-wrap
                                a.d-block(href="blog-details-1.html")
                                    img(src="img/bg-img/blog11.jpg" alt="")

                            .card-body.p-4.pb-2
                                .post-meta.d-flex.align-items-center.justify-content-between.mb-3
                                    span.fz-14
                                        i.me-1.bi.bi-calendar
                                        | 12 Sep 2022
                                    span.fz-14
                                        i.me-1.bi.bi-clock
                                        | 2 min read

                                a.post-title.d-block.mb-3(href="blog-details-1.html") Seven ways agency can improve your business.
                                p It's crafted with the latest trend of design with all modern approaches.
                                a.btn.btn-primary.btn-minimal(href="blog-details-1.html") Continue reading...

                    // Blog Item 
                    .col-12.col-sm-10.col-md-6.col-lg-4
                        .card.blog-card.border-0
                            .image-wrap
                                a.d-block(href="blog-details-1.html")
                                    img(src="img/bg-img/blog12.jpg" alt="")
                                // Video
                                .video-play-btn
                                    i.bi.bi-play

                            .card-body.p-4.pb-2
                                .post-meta.d-flex.align-items-center.justify-content-between.mb-3
                                    span.fz-14
                                        i.me-1.bi.bi-calendar
                                        | 12 Sep 2022
                                    span.fz-14
                                        i.me-1.bi.bi-clock
                                        | 2 min read

                                a.post-title.d-block.mb-3(href="blog-details-1.html") The reason why everyone love business.
                                p It's crafted with the latest trend of design with all modern approaches.
                                a.btn.btn-primary.btn-minimal(href="blog-details-1.html") Continue reading...

                // Pagination Area
                .saasbox-pagination-area.mt-5
                    nav(aria-label="Page navigation example")
                        ul.pagination.justify-content-center.mb-0
                            li.page-item.active
                                a.page-link(href="#") 1
                            li.page-item
                                a.page-link(href="#") 2
                            li.page-item
                                a.page-link(href="#") 3
                            li.page-item
                                a.page-link(href="#") 4
                            li.page-item
                                a.page-link(href="#") -
                            li.page-item
                                a.page-link(href="#") 9

        .mb-120.d-block

        include inc/cta-3.pug

        .mb-120.d-block

        include inc/footer-1.pug

        .mb-120.d-block

        include inc/js-plugins.pug