doctype html
html(lang="en")
  head
    include inc/head.pug

  body
    include inc/loader.pug

    include inc/header-2.pug

    include inc/hero-2.pug

    .container
      .border-top

    .mb-120.d-block

    include inc/about-2.pug

    .mb-120.d-block

    include inc/feature-2.pug

    .mb-120.d-block

    include inc/pricing-2.pug

    .mb-120.d-block

    include inc/portfolio-2.pug

    include inc/testimonial-2.pug

    include inc/blog-2.pug

    .mb-120.d-block

    include inc/newsletter.pug

    .mb-120.d-block

    include inc/footer-2.pug

    include inc/cookie.pug

    include inc/js-plugins.pug