doctype html
html(lang="en")
  head
    include inc/head.pug

  body
    include inc/loader.pug

    include inc/header-1.pug

    include inc/hero-1.pug

    .mb-120.d-block

    include inc/about-1.pug

    .mb-120.d-block

    include inc/cool-facts.pug

    .mb-120.d-block

    include inc/service-1.pug

    .mb-120.d-block

    include inc/feature-1.pug

    .mb-120.d-block

    include inc/tab.pug

    .mb-120.d-block

    include inc/pricing-1.pug

    .mb-120.d-block

    include inc/portfolio-1.pug

    .mb-120.d-block

    include inc/team.pug

    include inc/testimonial-1.pug

    .mb-120.d-block

    include inc/partner-1.pug

    .mb-120.d-block

    include inc/blog-1.pug

    .mb-120.d-block

    include inc/cta-1.pug

    .mb-120.d-block

    include inc/footer-1.pug

    .mb-120.d-block

    include inc/cookie.pug

    include inc/js-plugins.pug