doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header-1.pug

        // Breadcrumb 
        .breadcrumb-wrapper.bg-img.bg-overlay(style="background-image: url('img/bg-img/12.jpg');")
            .container.h-100
                .row.h-100.align-items-center
                    .col-12
                        .breadcrumb-content
                            h2.breadcrumb-title Forget Password
                            nav(aria-label="breadcrumb")
                                ol.breadcrumb.justify-content-center
                                    li.breadcrumb-item
                                        a(href="index.html") Home
                                    li.breadcrumb-item.active(aria-current="page")
                                        a(href="#") Forget Password
        
        .mb-120.d-block

        // Register 
        .register-area
            .container
                .row.g-5.align-items-center.justify-content-between
                    .col-12.col-lg-5
                        .register-thumbnail
                            img(src="img/illustrator/hero-2.png" alt="")

                    .col-12.col-lg-6
                        .card.register-card.bg-gray.p-1.p-sm-4
                            .card-body
                                h4 Reset Password
                                p Already have an account?
                                    a.ms-2(href="login.html") Log in

                                // Register form 
                                .register-form.my-5
                                    form(action="#" method="post")
                                        .form-group.mb-3
                                            input.form-control.rounded-0(type="email" placeholder="Email Address" required)
                                        button.btn.btn-primary.w-100(type="submit")
                                            i.bi.bi-lock.me-2
                                            | Reset Password

                                // Sign in via others 
                                .signin-via-others
                                    p.mb-0 Or Sign in with
                                    a.btn.btn-primary.btn-sm.mt-3.me-3(href="#")
                                        i.bi.bi-facebook.me-2
                                        | Facebook
                                    a.btn.btn-primary.btn-sm.mt-3.me-3(href="#")
                                        i.bi.bi-twitter.me-2
                                        | Twitter
        
        .mb-120.d-block

        include inc/footer-2.pug

        include inc/js-plugins.pug