doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header-1.pug

        include inc/demo-hero.pug

        .mb-120.d-block

        // Portfolio Area
        .demo-show
            .container
                .row.justify-content-center
                    .col-12.col-sm-10.col-md-9.col-lg-8.col-xxl-7
                        .section-heading.text-center
                            .badge.bg-primary.d-inline-block.mb-3 Home Page
                            h2 Beautifully designed, hand-crafted coded,
                                span.mx-1 4 
                                | pre-built home page perfect for your website.
                            p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

            .container
                .row.g-5.demo-preview-area.justify-content-center
                    .col-12.col-md-6
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="creative-agency.html" target="_blank")
                                img(src="img/demo-img/home/ca.png" alt="")
                            h5.mb-0.mt-4 Creative Agency

                    .col-12.col-md-6
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="business-studio.html" target="_blank")
                                img(src="img/demo-img/home/cb.png" alt="")
                            h5.mb-0.mt-4 Business Studio

                    .col-12.col-md-6
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="saas-landing.html" target="_blank")
                                img(src="img/demo-img/home/sl.png" alt="")
                            h5.mb-0.mt-4 Sass Landing

                    .col-12.col-md-6
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="seo-business.html" target="_blank")
                                img(src="img/demo-img/home/sb.png" alt="")
                            h5.mb-0.mt-4 SEO Business

        .mb-120.d-block

        // Used Technology Area
        .used-technology-area.bg-gray.pt-120.pb-120
            .container
                .row.justify-content-center
                    .col-12.col-sm-10.col-md-9.col-lg-8.col-xxl-7
                        .section-heading.text-center
                            h2 
                                span.me-1 Built 
                                | with all <br> modern technologies.
                            p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

                .row.g-0.border.justify-content-center
                    .col-6.col-md-4.col-lg-3
                        .demo-single-feature.border.py-4.px-3.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            img.mb-3(src="img/demo-img/tpl/bootstrap.png" alt="")
                            h6.mb-0 Bootstrap 5.1.1

                    .col-6.col-md-4.col-lg-3
                        .demo-single-feature.border.py-4.px-3.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            img.mb-3(src="img/demo-img/tpl/js.png" alt="")
                            h6.mb-0 Vanilla JS

                    .col-6.col-md-4.col-lg-3
                        .demo-single-feature.border.py-4.px-3.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            img.mb-3(src="img/demo-img/tpl/npm.png" alt="")
                            h6.mb-0 NPM

                    .col-6.col-md-4.col-lg-3
                        .demo-single-feature.border.py-4.px-3.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            img.mb-3(src="img/demo-img/tpl/gulp.png" alt="")
                            h6.mb-0 Gulp 4

                    .col-6.col-md-4.col-lg-3
                        .demo-single-feature.border.py-4.px-3.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            img.mb-3(src="img/demo-img/tpl/pug.png" alt="")
                            h6.mb-0 PUG

                    .col-6.col-md-4.col-lg-3
                        .demo-single-feature.border.py-4.px-3.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            img.mb-3(src="img/demo-img/tpl/sass.png" alt="")
                            h6.mb-0 SASS

                    .col-6.col-lg-3
                        .demo-single-feature.border.py-4.px-3.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            img.mb-3(src="img/demo-img/tpl/css3.png" alt="")
                            h6.mb-0 CSS3

                    .col-6.col-lg-3
                        .demo-single-feature.border.py-4.px-3.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            img.mb-3(src="img/demo-img/tpl/html5.png" alt="")
                            h6.mb-0 HTML5

        .mb-120.d-block

        .inner-page-wrapper
            .container
                .row.justify-content-center
                    .col-12.col-sm-10.col-md-8.col-lg-6
                        .section-heading.text-center
                            .badge.bg-primary.d-inline-block.mb-3 Inner Page
                            h2 Awesome
                                span.counter.mx-2 32
                                | inner pages for your all needs.
                            p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

            .container
                .row.g-5.saasbox-portfolio-filter
                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="portfolio-creative.html" target="_blank")
                                img(src="img/demo-img/pc.png" alt="")
                            h5.mb-0.mt-4 Portfolio Creative

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="portfolio-standard.html" target="_blank")
                                img(src="img/demo-img/ps.png" alt="")
                            h5.mb-0.mt-4 Portfolio Standard

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="portfolio-full-width.html" target="_blank")
                                img(src="img/demo-img/p-full.png" alt="")
                            h5.mb-0.mt-4 Portfolio Full Width

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="portfolio-details-one.html" target="_blank")
                                img(src="img/demo-img/pd1.png" alt="")
                            h5.mb-0.mt-4 Portfolio Details 1

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="portfolio-details-two.html" target="_blank")
                                img(src="img/demo-img/pd2.png" alt="")
                            h5.mb-0.mt-4 Portfolio Details 2

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="portfolio-details-three.html" target="_blank")
                                img(src="img/demo-img/pd3.png" alt="")
                            h5.mb-0.mt-4 Portfolio Details 3                    

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="single-product.html" target="_blank")
                                img(src="img/demo-img/s-details.png" alt="")
                            h5.mb-0.mt-4 Single Product

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="shop-fullwidth.html" target="_blank")
                                img(src="img/demo-img/s-full.png" alt="")
                            h5.mb-0.mt-4 Shop Full Width

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="shop-sidebar.html" target="_blank")
                                img(src="img/demo-img/s-sidebar.png" alt="")
                            h5.mb-0.mt-4 Shop with Sidebar

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="cart.html" target="_blank")
                                img(src="img/demo-img/cart.png" alt="")
                            h5.mb-0.mt-4 Cart

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="checkout.html" target="_blank")
                                img(src="img/demo-img/checkout.png" alt="")
                            h5.mb-0.mt-4 Checkout

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="about-creative.html" target="_blank")
                                img(src="img/demo-img/ac.png" alt="")
                            h5.mb-0.mt-4 About Creative

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="about-standard.html" target="_blank")
                                img(src="img/demo-img/as.png" alt="")
                            h5.mb-0.mt-4 About Standard

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="blog-1.html" target="_blank")
                                img(src="img/demo-img/b1.png" alt="")
                            h5.mb-0.mt-4 Blog 1

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="blog-2.html" target="_blank")
                                img(src="img/demo-img/b2.png" alt="")
                            h5.mb-0.mt-4 Blog 2

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="blog-3.html" target="_blank")
                                img(src="img/demo-img/b3.png" alt="")
                            h5.mb-0.mt-4 Blog 3

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="blog-details-1.html" target="_blank")
                                img(src="img/demo-img/bd1.png" alt="")
                            h5.mb-0.mt-4 Blog Details 1

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="blog-details-2.html" target="_blank")
                                img(src="img/demo-img/bd2.png" alt="")
                            h5.mb-0.mt-4 Blog Details 2

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="blog-details-3.html" target="_blank")
                                img(src="img/demo-img/bd3.png" alt="")
                            h5.mb-0.mt-4 Blog Details 3

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="coming-soon.html" target="_blank")
                                img(src="img/demo-img/cs.png" alt="")
                            h5.mb-0.mt-4 Coming Soon

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="contact.html" target="_blank")
                                img(src="img/demo-img/contact.png" alt="")
                            h5.mb-0.mt-4 Contact

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="faq.html" target="_blank")
                                img(src="img/demo-img/faq.png" alt="")
                            h5.mb-0.mt-4 FAQ

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="forget-password.html" target="_blank")
                                img(src="img/demo-img/forget.png" alt="")
                            h5.mb-0.mt-4 Forget Password

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="login.html" target="_blank")
                                img(src="img/demo-img/login.png" alt="")
                            h5.mb-0.mt-4 Login

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="newsletter.html" target="_blank")
                                img(src="img/demo-img/newsletter.png" alt="")
                            h5.mb-0.mt-4 Newsletter

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="pricing-plan.html" target="_blank")
                                img(src="img/demo-img/pt.png" alt="")
                            h5.mb-0.mt-4 Pricing Plan

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="register.html" target="_blank")
                                img(src="img/demo-img/register.png" alt="")
                            h5.mb-0.mt-4 Register

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="reviews.html" target="_blank")
                                img(src="img/demo-img/reviews.png" alt="")
                            h5.mb-0.mt-4 Reviews

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="service-creative.html" target="_blank")
                                img(src="img/demo-img/sc.png" alt="")
                            h5.mb-0.mt-4 Service Creative

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="service-standard.html" target="_blank")
                                img(src="img/demo-img/ss.png" alt="")
                            h5.mb-0.mt-4 Service Standard

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="team.html" target="_blank")
                                img(src="img/demo-img/team.png" alt="")
                            h5.mb-0.mt-4 Team

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="404.html" target="_blank")
                                img(src="img/demo-img/404.png" alt="")
                            h5.mb-0.mt-4 404

        .mb-120.d-block

        .bg-gray.pt-120.pb-120
            .container
                .row.g-4.justify-content-center
                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-primary
                            h6.mb-0.d-inline-block.text-primary Bootstrap 5.1.1

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-primary
                            h6.mb-0.d-inline-block.text-primary Vanilla JavaScript

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-primary
                            h6.mb-0.d-inline-block.text-primary Node Package Manager

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-primary
                            h6.mb-0.d-inline-block.text-primary Gulp 4

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-primary
                            h6.mb-0.d-inline-block.text-primary Pug (formally Jade)

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-primary
                            h6.mb-0.d-inline-block.text-primary SASS

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-primary
                            h6.mb-0.d-inline-block.text-primary CSS Autoprefixer

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-primary
                            h6.mb-0.d-inline-block.text-primary CSS3

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-primary
                            h6.mb-0.d-inline-block.text-primary HTML5

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block 4 Home Pages

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Shop Pages

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block 6 Blog Layouts

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block 6 Portfolio Pages

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block 32 Inner Pages

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block 100% Responsive

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Call to Action

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block CSS3 Animation

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Cookie Alert

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Counter Up

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Different Footer Style

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Easy To Customize

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block FAQ (Accordion)

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Bootstrap Icons

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Google Fonts

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Google Maps

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Icon Box

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Isotope Filtering

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Login &amp; Register

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Media Gallery

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Newsletter

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Premium Plugins

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Popup Video

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Pricing Table

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Retina Ready

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block SEO Optimized

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Tiny Slider

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Team Member

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Testimonials

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Tabs

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block WOW Animation

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Lot of Widgets

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Flag Icons

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Partner Slides

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Awesome Mobile Menu

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Forget Password

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature
                            i.bi.bi-check-lg.text-dark
                            h6.mb-0.d-inline-block Coming Soon Countdown

        include inc/footer-2.pug

        include inc/cookie.pug

        include inc/js-plugins.pug