doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header-1.pug

        // Breadcrumb Area
        .breadcrumb-wrapper.bg-img.bg-overlay(style="background-image: url('img/bg-img/12.jpg');")
            .container.h-100
                .row.h-100.align-items-center
                    .col-12
                        .breadcrumb-content
                            h2.breadcrumb-title Clients Review
                            nav(aria-label="breadcrumb")
                                ol.breadcrumb.justify-content-center
                                    li.breadcrumb-item
                                        a(href="index.html") Home
                                    li.breadcrumb-item.active(aria-current="page") Testimonial

        .bg-gray.pt-120.pb-120
            .container
                .row.g-4.saasbox-portfolio-filter
                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t1.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat sunt, dolorum sint officiis quibusdam illum!

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t2.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, consequuntur.

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t3.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur vel, exercitationem, commodi id sapiente expedita modi perferendis tenetur eum maxime, possimus eveniet?

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t1.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem ipsum dolor sit, amet consectetur adipisicing elit. A quidem autem cum neque commodi aperiam labore.

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t2.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa fugiat obcaecati excepturi reprehenderit quod non, minus inventore?

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t3.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem ipsum dolor sit amet consectetur adipisicing elit.

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t1.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, architecto ratione numquam quas fugit non impedit!

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t2.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, culpa blanditiis?

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t3.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur molestiae maxime expedita rerum exercitationem hic qui natus, velit illo.

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t1.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eaque iste unde voluptates?

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t2.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, quos libero!

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t3.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem dignissimos in eveniet quam minus aperiam ipsa!

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t1.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, consequatur fuga rem sed asperiores expedita ab.

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t2.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, ad error.

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t3.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aliquid voluptate itaque sequi natus quae blanditiis?

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t1.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, esse voluptatum!

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t2.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum qui magnam dolorum mollitia, itaque dicta velit?

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t3.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem ipsum dolor sit amet consectetur, adipisicing elit.

                    .col-12.col-sm-6.col-lg-4.portfolio-item
                        .card.feedback-card.border-0.p-2.shadow-sm
                            .card-body.p-4.p-md-5
                                .client-info.d-flex.align-items-center
                                    .client-thumb.rounded-circle.me-2.position-relative
                                        img.rounded-circle(src="img/bg-img/t1.png" alt="")
                                        span.rounded-circle
                                            i.bi.bi-check
                                    .client-name
                                        h6.fz-14.mb-0 Lim Jannat
                                        p.mb-0.fz-12 @lim_jannat
                                .ratings.text-warning.mt-4.mb-3.fz-14
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                    i.bi.bi-star-fill
                                p.text-dark.mb-0.fw-bold Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quibusdam nesciunt incidunt.

            .container
                .text-center
                    a.btn.btn-primary.mt-5(href="#") Load More Reviews

        include inc/footer-2.pug

        include inc/js-plugins.pug