doctype html
html(lang="en")
  head
    include inc/head.pug

  body
    include inc/loader.pug

    include inc/header-1.pug

    include inc/hero-3.pug

    include inc/partner-3.pug

    .mb-120.d-block

    include inc/about-4.pug

    .mb-120.d-block

    include inc/feature-2.pug

    .mb-120.d-block

    include inc/faq-1.pug

    .mb-120.d-block

    include inc/pricing-3.pug

    .mb-120.d-block

    include inc/blog-2.pug

    .mb-120.d-block

    include inc/cta-2.pug

    include inc/footer-2.pug

    include inc/cookie.pug

    include inc/js-plugins.pug