doctype html
html(lang="en")
  head
    include inc/head.pug

  body
    include inc/loader.pug

    include inc/header-2.pug

    include inc/hero-4.pug

    include inc/service-3.pug

    .mb-120.d-block

    include inc/tab.pug

    .mb-120.d-block

    include inc/portfolio-2.pug

    .mb-120.d-block

    include inc/pricing-2.pug

    .mb-120.d-block

    include inc/testimonial-1.pug

    .mb-120.d-block

    include inc/partner-1.pug

    .mb-120.d-block

    include inc/blog-1.pug

    .mb-120.d-block

    include inc/cta-3.pug

    .mb-120.d-block

    include inc/footer-1.pug

    .mb-120.d-block

    include inc/cookie.pug

    include inc/js-plugins.pug