doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header-1.pug

        // Breadcrumb Area
        .breadcrumb-wrapper.bg-img.bg-overlay(style="background-image: url('img/bg-img/12.jpg');")
            .container.h-100
                .row.h-100.align-items-center
                    .col-12
                        .breadcrumb-content
                            h2.breadcrumb-title Team Member
                            nav(aria-label="breadcrumb")
                                ol.breadcrumb.justify-content-center
                                    li.breadcrumb-item
                                        a(href="index.html") Home
                                    li.breadcrumb-item.active(aria-current="page") Team
        
        .mb-120.d-block

        .container
            .row.g-4.g-md-5.justify-content-center
                .col-12.col-sm-6.col-lg-4
                    .card.team-card.shadow.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="200ms")
                        .card-body.p-4.py-md-5.text-center
                            .member-img.mb-4.rounded-circle
                                img(src="img/bg-img/9.jpg" alt="")
                            h6 L. Sarah
                            p.fz-14 Creative Designer
                            .border
                            a.mt-3.btn.btn-info.btn-minimal.fz-14(href="#")
                                | Contact
                                i.bi.bi-caret-right-fill
                
                .col-12.col-sm-6.col-lg-4
                    .card.team-card.shadow.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="200ms")
                        .card-body.p-4.py-md-5.text-center
                            .member-img.mb-4.rounded-circle
                                img(src="img/bg-img/16.jpg" alt="")
                            h6 Hasnain R.
                            p.fz-14 Motion Designer
                            .border
                            a.mt-3.btn.btn-info.btn-minimal.fz-14(href="#")
                                | Contact
                                i.bi.bi-caret-right-fill
                
                .col-12.col-sm-6.col-lg-4
                    .card.team-card.shadow.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="200ms")
                        .card-body.p-4.py-md-5.text-center
                            .member-img.mb-4.rounded-circle
                                img(src="img/bg-img/9.jpg" alt="")
                            h6 Ri. Nadim
                            p.fz-14 Designer
                            .border
                            a.mt-3.btn.btn-info.btn-minimal.fz-14(href="#")
                                | Contact
                                i.bi.bi-caret-right-fill
                
                .col-12.col-sm-6.col-lg-4
                    .card.team-card.shadow.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="200ms")
                        .card-body.p-4.py-md-5.text-center
                            .member-img.mb-4.rounded-circle
                                img(src="img/bg-img/16.jpg" alt="")
                            h6 L. Sarah
                            p.fz-14 Creative Designer
                            .border
                            a.mt-3.btn.btn-info.btn-minimal.fz-14(href="#")
                                | Contact
                                i.bi.bi-caret-right-fill

                .col-12.col-sm-6.col-lg-4
                    .card.team-card.shadow.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="200ms")
                        .card-body.p-4.py-md-5.text-center
                            .member-img.mb-4.rounded-circle
                                img(src="img/bg-img/9.jpg" alt="")
                            h6 L. Sarah
                            p.fz-14 Creative Designer
                            .border
                            a.mt-3.btn.btn-info.btn-minimal.fz-14(href="#")
                                | Contact
                                i.bi.bi-caret-right-fill

                .col-12.col-sm-6.col-lg-4
                    .card.team-card.shadow.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="200ms")
                        .card-body.p-4.py-md-5.text-center
                            .member-img.mb-4.rounded-circle
                                img(src="img/bg-img/16.jpg" alt="")
                            h6 L. Sarah
                            p.fz-14 Designer
                            .border
                            a.mt-3.btn.btn-info.btn-minimal.fz-14(href="#")
                                | Contact
                                i.bi.bi-caret-right-fill

        .mb-120.d-block

        include inc/cta-3.pug

        .mb-120.d-block

        include inc/footer-1.pug

        .mb-120.d-block

        include inc/js-plugins.pug